.flex.items-start
  .flex.flex-col.flex-1
    .text-3xl.truncate
      = "#{resource_name.capitalize} Details"
    %h5.text-sm.text-gray-400

  .flex.flex-col.items-end.justify-center
    .flex.items-center.justify-center
      = link_to collection_path, class: "btn lg" do
        = "Back to #{resource_name.capitalize.pluralize}"

.my-8
  = render partial: "details"
