-content_for :title, "Reseller profile information"
=render :partial => 'index_scripts'
=render(:partial => 'shared/form_progress_indicator', :locals => {options:{li_style: "margin: 0px 32px"}, :pages=>[Reseller::SIGNUP_PAGES_FREE, 1]})
.reseller_registration_profile
  %h3 Reseller Profile Information
  %p Please fill out the required fields below to complete your reseller account registration
  =error_messages_for :reseller
  =form_for @reseller, :url => account_reseller_path do |f|
    #stylized.default_form
      =render :partial => "form", :locals => {:f=>f}
    #button_container
      #auto_adjust
        =image_tag "cancel_bl.gif", id: "cancel_reseller_signup"
        =image_submit_tag "next_bl.gif", alt: "submit reseller form"
