<script type="text/javascript">
function destroy_pkey_download_link(event) {
  document.body.removeChild(event.target);
}
function pkey_download(hash, pkey) {
  var pkeyAsBlob = new Blob([pkey], { type: "application/pkcs8" });
  var downloadLink = document.createElement('a');
  downloadLink.download = hash + '.key';
  downloadLink.innerHTML = "Download File";

  downloadLink.href = window.URL.createObjectURL(pkeyAsBlob);
  downloadLink.onclick = destroy_pkey_download_link;
  downloadLink.style.display = "none";
  document.body.appendChild(downloadLink);

  downloadLink.click();
}

jQuery.noConflict();
jQuery(function($) {
  $(document).ready(function() {
    $('#number_rows').change(function() {
      url = window.location.href;
      if (url.indexOf('?')>0) {
        url = url.substring(0, url.indexOf('?'))
      }
      window.location = url + "/?per_page=" + $(this).val();
    });

    $('.dropdown, .status_message, .expand, .subject_column > a').click(function(){

      var currentElmt = $(this);

      if (currentElmt.parents().filter('tr').next().hasClass('expanded') == true) {
        if (currentElmt.parents().filter('tr').next().is(":visible")) {
          currentElmt.parents().filter('tr').next().hide();
          currentElmt.parents().filter('tr').find('.dropdown img').attr('src',"<%= asset_path('expand.png') %>");
          currentElmt.parents().filter('tr').find('.expand').text('open');
        } else {
          currentElmt.parents().filter('tr').next().show();
          currentElmt.parents().filter('tr').find('.dropdown img').attr('src',"<%= asset_path('contract.png') %>");
          currentElmt.parents().filter('tr').find('.expand').text('close');
        }
      } else {
        var csr_id = currentElmt.parents().filter('tr').attr('alt');
        var ajaxUrl = '<%=show_csr_detail_managed_csrs_path()%>';

        $.ajax({
          url: ajaxUrl,
          data: {
            id: csr_id
          },
          type: "GET",
          dataType: "html",
          success: function(result) {
            if (result == 'no-user') {
              location.reload(true);
            } else {
              console.log(result);
              if (currentElmt.parents().filter('tr').next().hasClass('expanded') == false) {
                currentElmt.parents().filter('tr').after(result);
                currentElmt.parents().filter('tr').find('.dropdown img').attr('src',"<%= asset_path('contract.png') %>");
                currentElmt.parents().filter('tr').find('.expand').text('close');
              }
            }
          }
        });
      }

    });

    // Show / Hide CSR field for past own CSR.
    $('.own_csr').click(function() {
      if ($(this).prop('checked')) {
        $('#csr').val('');
        $('.csr_wrap').show();
        $('.generate_cert').removeClass('btn-primary');
        $('.generate_cert').prop('disabled', true);
        $('.algorithm_wrap').hide();
        $('.generate_wrap').hide();
        $('.private_key_wrap').hide();
        $('.clipboard_wrap').hide();
        $('#upload_validations').hide();
        $('#back_to_csr_page').hide();
      } else {
        $('.csr_wrap').hide();
        if ($('#commonname').val() != '') {
          $('.generate_cert').addClass('btn-primary');
          $('.generate_cert').prop('disabled', false);
        }
        $('.algorithm_wrap').show();
        $('.generate_wrap').show();
        $('#upload_validations').hide();
        $('#back_to_csr_page').hide();
      }
    });

    // Checking domain
    $.checkDomain = function(str) {
      var asterisk_counts = (str.match(/\*/g) || []).length;

      if (asterisk_counts == 0) {
        return psl.isValid(str);
      } else if (asterisk_counts == 1) {
        return psl.isValid(str.substr(2));
      } else if (asterisk_counts > 1) {
        return false;
      }
    };

    // Enable / Disable Generate CSR Button if ONLY commonname has value.
    $(document).on('blur keyup', '#commonname', function() {
      if ($.trim($(this).val()) == '') {
        $('.cn-group').removeClass('error-no-domain-block');
        $('.cn-group').removeClass('error-require-domain-block');

        $('.generate_cert').removeClass('btn-primary');
        $('.generate_cert').prop('disabled', true);
      } else {
        <%if @is_server.blank? || @is_server == 'true'%>
          if ($.checkDomain($.trim($(this).val()))) {
            $('.cn-group').removeClass('error-require-domain-block');

            $('.generate_cert').addClass('btn-primary');
            $('.generate_cert').prop('disabled', false);
          } else {
            $('.generate_cert').removeClass('btn-primary');
            $('.generate_cert').prop('disabled', true);

            $('.cn-group').addClass('error-require-domain-block');
          }
        <%else%>
          if ($.checkDomain($.trim($(this).val()))) {
            $('.generate_cert').removeClass('btn-primary');
            $('.generate_cert').prop('disabled', true);

            $('.cn-group').addClass('error-no-domain-block');
          } else {
            $('.cn-group').removeClass('error-no-domain-block');

            $('.generate_cert').addClass('btn-primary');
            $('.generate_cert').prop('disabled', false);
          }
        <%end%>
      }
    });

    // Show / Hide Validate button only if CSR value exist.
    $(document).on('blur keyup', '#csr', function() {
      <% unless current_user.blank? %>
        if ($(this).val() == '') {
          $('#upload_validations').hide();
        } else {
          $('#upload_validations').show();
        }
      <%end%>
    });

    // Generate CSR based on inputted Common Info and SANs.
    $('.generate_cert').click(function() {
      // Adding loading bar while generate CSR, Private Key and Certificate.
      var page_loader_wrap = $('<div></div>');
      page_loader_wrap.attr('class', 'page_loader_wrap');

      var page_loader = $('<div></div>');
      page_loader.attr('class', 'page_loader');

      page_loader_wrap.append(page_loader);

      window.scrollTo(0, 0);
      $('body').addClass('no_scroll_y');
      page_loader_wrap.insertBefore($('#header'));

      // Getting Common Info
      const info = {};
      if ($('#commonname').val() != '') {
        info['commonname'] = $('#commonname').val().trim();
      }
      if ($('#email').val() != '') {
        info['email'] = $('#email').val().trim();
      }
      if ($('#organization').val() != '') {
        info['organization'] = $('#organization').val().trim();
      }
      if ($('#organizationalunit').val() != '') {
        info['organizationalunit'] = $('#organizationalunit').val().trim();
      }
      if ($('#address').val() != '') {
        info['address'] = $('#address').val().trim();
      }
      if ($('#locality').val() != '') {
        info['locality'] = $('#locality').val().trim();
      }
      if ($('#state').val() != '') {
        info['state'] = $('#state').val().trim();
      }
      if ($('#country').val() != '') {
        info['country'] = $('#country').val().trim();
      }
      if ($('#zipcode').val() != '') {
        info['zipcode'] = $('#zipcode').val().trim();
      }

      // Getting SANs array
      var sans = [];
      var sans_str = $('#sans').val();
      if (sans_str != '') {
        sans_str = sans_str.replace(/,/g, ' ').replace(/\s\s+/g, ' ').replace(/(\r\n|\n|\r)/gm, ' ');
        sans = sans_str.split(' ');
      }

      // Getting Options
      var sign_alg = $('#sign_algorithm').find(':selected').text();
      var key_size = '';
      if (sign_alg.indexOf('RSA') != -1) {
        key_size = $('#rsa_key_size').find(':selected').text();
      } else {
        key_size = $('#ec_key_size').find(':selected').text();
      }

      const options = {
        signAlgorithm: sign_alg,
        keySize: key_size
      };

      // Generate CSR.
      generateCSR(info, sans, options, function(csr, pkey) {
        $('#private_key').val(pkey);
        $('#csr').val(csr);
        <% is_logged_in = !current_user.blank? %>

        $.ajax({
          url: '<%= add_generated_csr_managed_csrs_path%>',
          data: {
            is_logged_in: '<%= is_logged_in%>',
            csr_id: $('#csr_id').val(),
            csr: csr,
            friendly_name: $('#friendly_name').val()
          },
          type: "POST",
          success: function(data) {
            if (data['status'] == 'true') {
              var message_wrap_element = $('<div></div>');
              message_wrap_element.attr('class', 'flash_message notice');

              var message_element = $('<span></span>');
              <%if is_logged_in%>
                if ($('#csr_id').val() == undefined) {
                  message_element.append('The CSR has been generated and added to the CSR Manager successfully');
                } else {
                  message_element.append('The CSR has been generated and updated in the CSR Manager successfully');
                }
              <%else%>
                message_element.append('The CSR has been generated successfully. Please copy using "Copy CSR" button for save.');
              <%end%>
              message_wrap_element.append(message_element);

              var btn_element = $('<small></small>');
              var close_btn_element = $('<div></div>');
              close_btn_element.attr('class', 'close_flash_message');

              var close_sign_element = $('<span></span>');
              close_sign_element.append('X');

              close_btn_element.append(close_sign_element);
              close_btn_element.append('close');

              btn_element.append(close_btn_element);
              message_wrap_element.append(btn_element);

              if ($('#content').find('.inner').children().first().hasClass('flash_message')) {
                $('#content').find('.inner').children().first().remove();
              }
              message_wrap_element.insertBefore($('#content').find('.inner').children().first());

              try {
                pkey_download(data['hash'], $('#private_key').val());

                $('#commonname').val('');
                $('#email').val('');
                $('#organization').val('');
                $('#organizationalunit').val('');
                $('#address').val('');
                $('#locality').val('');
                $('#state').val('');
                $('#country').val('');
                $('#zipcode').val('');
                $('#sans').val('');
                $('#friendly_name').val('');

                <%if is_logged_in%>
                  $('#csr').val('');
                <%else%>
                  $('#csr').attr('readonly', true);
                  $('.csr_wrap').show();

                  $('#clipboard_pkey_btn').hide();
                  $('.clipboard_wrap').show();
                <%end%>

                $('#private_key').val('');
                $('#sign_algorithm option:eq(0)').attr('selected', 'selected');
                $('#sign_algorithm').trigger('change');
              } catch (err) {
                <%unless is_logged_in%>
                  $('#csr').attr('readonly', true);
                  $('.csr_wrap').show();
                <%end%>

                $('#private_key').attr('readonly', true);
                $('.private_key_wrap').show();

                <%if is_logged_in%>
                  $('#clipboard_csr_btn').hide();
                <%end%>
                $('.clipboard_wrap').show();

                var message_wrap_element = $('<div></div>');
                message_wrap_element.attr('class', 'flash_message error');

                var message_element = $('<span></span>');
                message_element.append('It has been failed to download Private Key. Please copy using "Copy Private Key" button for save.');
                message_wrap_element.append(message_element);

                var btn_element = $('<small></small>');
                var close_btn_element = $('<div></div>');
                close_btn_element.attr('class', 'close_flash_message');

                var close_sign_element = $('<span></span>');
                close_sign_element.append('X');

                close_btn_element.append(close_sign_element);
                close_btn_element.append('close');

                btn_element.append(close_btn_element);
                message_wrap_element.append(btn_element);

                message_wrap_element.insertBefore($('#content').find('.inner').children().first());
              }

              $('.generate_cert').removeClass('btn-primary');
              $('.generate_cert').prop('disabled', true);

              $('.page_loader_wrap').hide();
              $('body').removeClass('no_scroll_y');

              if ($('.back_to_csr_page')[0]) {
                $('.back_to_csr_page').attr('href', $('.back_to_csr_page').attr('href') + '?csr_ref=' + data['csr_ref']);
                $('#back_to_csr_page').show();
              }

              if ($('.back_to_generate_cert_page')[0]) {
                $('.back_to_generate_cert_page').attr('href', $('.back_to_generate_cert_page').attr('href') + '?csr_ref=' + data['csr_ref']);
                $('#back_to_generate_cert_page').show();
              }
            } else if (data['status'] == 'no_user') {
              window.location.href = data['url']
            } else {
              var message_wrap_element = $('<div></div>');
              message_wrap_element.attr('class', 'flash_message error');

              var message_element = $('<span></span>');
              message_element.append(data['status']);
              message_wrap_element.append(message_element);

              var btn_element = $('<small></small>');
              var close_btn_element = $('<div></div>');
              close_btn_element.attr('class', 'close_flash_message');

              var close_sign_element = $('<span></span>');
              close_sign_element.append('X');

              close_btn_element.append(close_sign_element);
              close_btn_element.append('close');

              btn_element.append(close_btn_element);
              message_wrap_element.append(btn_element);

              if ($('#content').find('.inner').children().first().hasClass('flash_message')) {
                $('#content').find('.inner').children().first().remove();
              }
              message_wrap_element.insertBefore($('#content').find('.inner').children().first());
            }
          }
        });
      }, function(error) {
        var message_wrap_element = $('<div></div>');
        message_wrap_element.attr('class', 'flash_message error');

        var message_element = $('<span></span>');
        message_element.append(error);
        message_wrap_element.append(message_element);

        var btn_element = $('<small></small>');
        var close_btn_element = $('<div></div>');
        close_btn_element.attr('class', 'close_flash_message');

        var close_sign_element = $('<span></span>');
        close_sign_element.append('X');

        close_btn_element.append(close_sign_element);
        close_btn_element.append('close');

        btn_element.append(close_btn_element);
        message_wrap_element.append(btn_element);

        if ($('#content').find('.inner').children().first().hasClass('flash_message')) {
          $('#content').find('.inner').children().first().remove();
        }
        message_wrap_element.insertBefore($('#content').find('.inner').children().first());
      });
    });

    $('#clipboard_pkey_btn').click(function() {
      $('#private_key').select();
      document.execCommand('copy');
    });

    $('#clipboard_csr_btn').click(function() {
      $('#csr').select();
      document.execCommand('copy');
    });

    // Show / Hide proper key list based on sign algorithm.
    $(document).on('change', '#sign_algorithm', function(e) {
      e.preventDefault();

      if ($(this).find(':selected').text().indexOf('RSA') != -1) {
        $('.rsa_key_wrap').show();
        $('.ec_key_wrap').hide();
      } else {
        $('.rsa_key_wrap').hide();
        $('.ec_key_wrap').show();
      }
    });

    $(document).on('click', '#select_all', function() {
      if ($(this).prop('checked')) {
        $('.checkbox_csr').prop('checked', true);
        $('.delete_checkbox_csrs').show();
      } else {
        $('.checkbox_csr').prop('checked', false);
        $('.delete_checkbox_csrs').hide();
      }
    });

    $(document).on('click', '.checkbox_csr', function() {
      var csr_chk_list = $('.checkbox_csr');
      var all_checked = true;
      var exist_checked = false;

      $.each(csr_chk_list, function(idx, csr_chk) {
        if (!$(csr_chk).prop('checked') && all_checked) {
          all_checked = false;
        } else if ($(csr_chk).prop('checked') && !exist_checked) {
          exist_checked = true;
        }
      });

      // change the check status for SelectAll checkbox by all individual checkbox status.
      if (all_checked) {
        $('input:checkbox#select_all').prop('checked', true);
      } else {
        $('input:checkbox#select_all').prop('checked', false);
      }

      // Show / Hide the Delete button.
      if (exist_checked) {
        $('.delete_checkbox_csrs').show();
      } else {
        $('.delete_checkbox_csrs').hide();
      }
    });

    $(document).on('click', '.delete_checkbox_csrs', function(e) {
      e.preventDefault();

      var confirmMsg = 'Are you sure you want to remove the selected CSR(s)?';
      if (confirm(confirmMsg)) {
        var ajaxUrl = $(this).attr('href');
        var csr_chk_list = $('.checkbox_csr');
        var csr_ids = [];

        $.each(csr_chk_list, function(idx, csr_chk) {
          if ($(csr_chk).prop('checked')) {
            csr_ids.push($(csr_chk).val());
          }
        });

        $.ajax({
          url: ajaxUrl,
          data: {
            checkbox_csrs: csr_ids
          },
          type: 'POST',
          dataType: 'html',
          success: function(result) {
            if (result == 'success') {
              location.reload(true);
            }
          }
        });
      }
    });

  });
});
</script>
