-title = 'Edit Csr'
-content_for :title, title
-#.reseller_registration_profile
-#  %h3=title
-#  %p
-#    Please enter the csr string.
-#  =form_for @csr, url: managed_csr_path(@ssl_slug, @csr.id), method: :put do |f|
-#    =f.error_messages
-#    #stylized.default_form
-#      .subheading Csr
-#      =render :partial => "form", :object => f
-#    #button_container
-#      =f.submit 'Update', class: 'button_blue'
-#
-#-content_for :js do
-#  :javascript
-#    $("#user_ssl_account_ids").select2();
-#    $(document).ready(function() {
-#      $("#user_ssl_account_ids").select2();
-#    });

= render :partial => 'index_scripts'
= javascript_include_tag "promise.min", "webcrypto-liner.shim", "asmcrypto.min", "elliptic.min", "bundle.umd.min", "bundle.pkcs.umd.min"
= stylesheet_link_tag 'bootstrap_style', :media => 'all'
%div{:style => 'width: 100%'}
  %h2 Edit Certificate Signing Request
  = hidden_field_tag :csr_id, @csr.id
  = form_tag managed_csr_path(@ssl_slug, @csr.id), method: :put, id: 'edit_csr_form' do
    .row.pt-4
      .col-md-2
      .col-md-8
        .form-group
          %label  Friendly Name :
          = text_field_tag 'friendly_name', @csr.friendly_name, class: 'form-control'
        .csr_wrap
          .form-group
            %label  CSR :
            = text_area_tag 'csr', @csr.body, class: 'form-control', rows: '5', value: @csr.body
        -#.cert_orders_wrap
          .form-group
            %label  Certificate Orders :
            = select_tag 'cert_order', options_for_select(@cert_orders), class: 'form-control'
      .col-md-2
    .row.pt-3
      .col-md-2
      .col-md-8
        #upload_validations(style='width: 100%; text-align: center;')
          =submit_tag "Add", :id=>"validate_domains", :disable_with=>"Submitting..."