= search_form_for [:admin, @q] do |f|
  .flex.items-center.justify-center
    .flex.items-center.justify-center.flex-1.rounded
      = f.search_field :pattern_cont, placeholder: "Search ...", class: "mr-2"
      - if params[:q]
        = link_to collection_path, class: "btn lg red mr-2" do
          %i.fa-fw.fal.fa-times.text-xl
      = f.button type:"submit", class: "btn lg primary" do
        %i.fa-fw.fal.fa-search.text-xl
  
  = link_to "Advanced Search", "#", class: "border-b border-l border-r border-gray-200 rounded-b ml-6 px-3 py-1 bg-white uppercase text-sm"