Hello,

Thank you for your multi-year order from SSL.com. As you may be aware, the original certificate for your order is getting close to expiration. This is true even though your order still has 1 or 2 years of coverage.

A new certificate will be issued for the remaining duration of the order so that you can continue to benefit from multi-year discounting while remaining compliant with the CA/Browser Forum requirements.

This new certificate will not affect your currently installed server certificate. The new certificate is being issued at no additional cost to you.

However, you will need to replace the original certificate prior to it's expiration by installing the newly issued certificate. Please login to your account and complete the certificate re-issuance by using one of the certificate links below.

Certificate Order: https://<%=portal_domain%>/certificate_orders/<%=@e_certs[0].cert.certificate_order.ref%>/validation/new
Certificate Reprocess: https://<%=portal_domain%>/certificate_orders/<%=@e_certs[0].cert.certificate_order.ref%>/reprocess
Validation Guide: https://<%=portal_domain%>/faqs/ssl-dv-validation-requirements/

After the validation above has been completed you will need install the newly issued server Certificate. This server certificate will replace the existing certificate that is already on your website and will be used for the last years of your order.

Please let us know if you have any domain validation questions.

Best Regards,

SSL Support Team
support@ssl.com
