Hello,

SSL.com Notification Group <%=@notification_group.friendly_name || @notification_group.ref%> scan results:

Reminder Type: <%=@result.reminder_type%>
Scanned Domain: <%=@result.domain%>
SSL Certificate Expires: <%=@result.expire%>
<% unless @result.scanned_certificate_id.blank?
  scanned_certificate=ScannedCertificate.find(@result.scanned_certificate_id)-%>
SSL Certificate DN: <%=scanned_certificate.dn%>
SSL Certificate Serial: <%=scanned_certificate.serial%>
SSL Certificate Issuer DN: <%=scanned_certificate.issuer_dn%>
<% end %>

To modify the SSL/TLS reminders or disable them, please visit <%=edit_notification_group_url(@ssl_slug, @notification_group.id)%>

Thank you for choosing SSL.com!

Kind Regards,

SSL.com
Toll Free: 877-SSL-Secure (877-775-7328)
Intl: SSL-Certificates (+1-775-237-8434)
