@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;600;700;800&display=swap');

@import "scss/variables";
@import "scss/common";
@import "scss/typography";
@import "scss/buttons";
@import "scss/forms";
@import "scss/tables";
@import "scss/navbar";
@import "scss/notifications";
@import "scss/backdrop";

// i {
//   margin-top: .063rem;
// }

.authentication-image {
  position: relative;
  overflow: hidden;
  background-color: #333333;

  div {
    z-index: 10;
    color: #FFFFFF;
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0.6;
    z-index: 0;
  }
}
