-orders = approved_list ? @invoice.get_approved_items : @invoice.get_removed_items
-header_descr = approved_list ? "Approved" : "Removed"

%table#tbl-monthly-invoice(cellspacing='0')
  %thead
    %tr.heading_row
      %th #
      %th Date
      %th Order
      %th Description (#{header_descr} Items)
      %th Total
  %tbody
    -orders.each_with_index do |o, i|
      -order_ref = o.reference_number
      %tr
        %td
          %strong
            %span #{i+1}
        %td
          =o.created_at.strftime('%F')
        %td
          =link_to order_ref, order_path(@ssl_slug, o)
        %td.description
          %strong
            %span #{descriptions[order_ref.to_s][:item]}
          %br
          =descriptions[order_ref.to_s][:description]              
          
          -if current_user.is_system_admins?
            %div{id: "mi-update-item-desc-#{order_ref}", class: 'hidden'}
              =form_tag update_item_invoice_path(@ssl_slug, @invoice.reference_number), method: :put do
                .clearfix
                  =hidden_field_tag :item_ref, order_ref
                  =text_field_tag   :item_description, nil, size: 72, placeholder: 'New description'
                .clearfix
                  =button_tag 'Update', id: 'btn-update-invoice-item'
                  =button_tag 'Cancel', class: 'btn-cancel-invoice-item', data: {order_ref: order_ref}

            %br
            =link_to 'UPDATE ORDER', edit_order_path(@ssl_slug, o), class: 'btn-update-invoice-item'
            -if o.approved_for_invoice? 
              =link_to 'REMOVE ITEM', |
                remove_item_invoice_path(@ssl_slug, @invoice.reference_number, item_ref: order_ref), |
                method: :put, class: 'btn-rmv-invoice-item'
            -if o.removed_from_invoice?
              =link_to 'ADD ITEM', add_item_invoice_path(@ssl_slug, @invoice.reference_number, item_ref: order_ref), |
                method: :put, class: 'btn-add-invoice-item'
            =link_to 'EDIT', '#', class: 'btn-edit-invoice-item', data: {order_ref: order_ref}
            
        %td
          %strong
            =o.amount.format
        
        -# Voidied order detail
        -if o.voided_on_payable_invoice?
          %tr.invoice-order-void
            %td{colspan: '3'}
            %td
              %strong
                %i.fa.fa-minus
                Order ##{o.reference_number} has been #{o.state.humanize.upcase}.
            %td
              %strong
                -if o.partially_refunded? || o.fully_refunded?
                  ="-#{Money.new(o.get_full_refund_amount).format}"
                -else
                  ="-$0.00"

    -if approved_list
      - voided_amt_cents = @invoice.get_voided_cents
      -if @order
        %tr.order-subtotal
          %td.description.total_row{colspan: '4'} Subtotal:
          %td.price.total_row
            =total_format
        -if funded_amount > 0
          %tr.order-funded
            %td.description.total_row{colspan: '4'} Funded Account Credit:
            %td.price.total_row -#{Money.new(funded_amount).format}
        -if voided_amt_cents > 0
          %tr.order-funded
            %td.description.total_row{colspan: '4'} Refunded Line Items:
            %td.price.total_row -#{Money.new(voided_amt_cents).format}
        %tr.order-total
          %td.description.total_row{colspan: '4'} Total:
          %td.price.total_row
            =@invoice.get_final_amount_format
      -else
        %tr.order-subtotal
          %td.description.total_row{colspan: '4'} Total:
          %td.price.total_row
            =total_format