#monthly-invoice-pmt
  %h3.order_results_header
    Payment  
  #order_ref_num 
    reference number:
    %span=h @order.reference_number
  #order_ref_num 
    charged:
    %span=h @order.amount.format
  #order_date
    date of payment:
    %span=h @order.created_at.strftime('%F')
  
  -if @order.is_free?
    #credit_card_number
      payment method:
      %span n/a (free)
  -else
    -unless @order.billing_profile.blank?
      #credit_card_number
        payment method:
        -if current_user.is_super_user?
          #{@order.billing_profile.card_number} #{@order.billing_profile.expiration_month}/#{@order.billing_profile.expiration_year}
        -else  
          xxxx-xxxx-xxxx-#{h @order.billing_profile.last_digits} (#{h @order.billing_profile.credit_card})
      #credit_card_owner
        name on card:
        %span=h @order.billing_profile.full_name
    -else
      #credit_card_number
        payment method:
        -if @order.po_number
          %span purchase order #{@order.po_number}
        -elsif @order.quote_number
          %span quote #{@order.quote_number}
        -elsif @order.notes =~ /#paidviapaypal(\S+)?/
          %span paypal #{$1}
        -elsif @order.deducted_from.try(:reference_number)
          %span=link_to @order.deducted_from.reference_number, order_path(@order.deducted_from)
        -elsif current_user.ssl_account.is_registered_reseller?
          %span funded account
        -else
          %span=@order.state.humanize.downcase

  #order_ref_num
    notes:
    %span=@order.notes

  -if (@invoice.refunded? || @invoice.partially_refunded?) && refund_merchant
    -other_payment = refund_merchant == 'other'
    -amount = other_payment ? @order.amount.format : Money.new(@order.get_total_merchant_refunds).format
    
    -if other_payment
      -unless @invoice.funded_account_credit?
        %h3.order_results_header Refunds (#{amount})
        #order_date
          -type = @invoice.paid_wire_transfer? ? :wire : :po
          Full refund issued for payment type #{Invoice::PAYMENT_METHODS_TEXT[type]}.
      -else
        -amount = @invoice.get_credited_total.format
        %h3.order_results_header Refunds (#{amount})
        #order_date
          *Funded Account Credited: 
          %strong #{amount}
        
    -else
      %h3.order_results_header Refunds (#{amount})
      -@order.refunds.where(status: 'success').each_with_index do |o, i|
        #order_date
          #{i+1}. #{o.created_at.strftime('%F')}:
          %strong #{Money.new(o.amount).format}
          
          -if @order.get_total_merchant_amount < @order.make_available_total && @invoice.refunded?
            %br/
            %br/
            *Funded Account Credited: 
            %strong #{@invoice.get_credited_total.format}
            
      -if system_admins
        #order_date
          =link_to "<strong>Refund Details</strong>".html_safe,       |
          refund_merchant_order_path(@ssl_slug, @order, mo_ref: @invoice.reference_number, type: :new), |
          method: :get, class: 'btn-refunds-detail'
  