-c={}
-c[:header]='public'
-c[:description]="Secure Short Links by #{community_name} are a secure way to shorten long urls and links backed by the ssl.com name."
-c[:keywords]="secure short links ssl small urls surls shorten twitter social share analytics tracking scanned prevent malware"
-c[:title] = "Secure Short Links by ssl.com"
-c.each do |k, v|
  -content_for k, c[k]
=render :partial => '/surls/index_scripts'
.container
  .innercontainere
    .inner
      =render :partial => "shared/messages"
      %h1
        Shrink Urls with Short Secure Links (SSL)
      %h2
        Share, track, protect, scan and analyze your links
      .leftcolb
        %section.search_container#surl_stylized
          =form_for @surl, id: "surl_form" , remote: true do |f|
            =render partial: "form", locals: {f: f}
      .rightcolc
        %ul.listd.ssl_links
          %li
            ssl.com links are small and secure
          %li
            links are scanned daily for malware
          %li
            restrict access with an optional password
          %li
            share links through twitter and facebook
          %li
            review the number of visits a link receives
          %li
            ssl.com links never expire
          %li
            it's FREE
        #surl_container
        #surl_instructions
          copy the ssl link above and paste it anywhere to substitute for:
          %span.old_link.clearfix
          %span.click_to_visit
      %table#manage_current_links(cellspacing=0)
        %tr
          %th ssl link
          %th original link
          %th visits
          -if current_user
            %th owner
          %th(style="width: 160px") actions
        -@surls.sort{|a,b|b.created_at<=>a.created_at}.each_with_index do |surl, i|
          =render partial: "surl_row", locals: {surl: surl}
      -#%p
      -#  Let everyone know you are using secure links with the foremost name in security by using the ssl.com
      -#  domain name as your secure linking service. All links display an ssl daily scanned report near the top
      -#  to let people know the link is safe.

