#dialog-form.hidden
  #folders-tree-modal
  = render partial: '/folders/folders_popup_jstree'

  - url = add_certificate_order_folder_url(@ssl_slug, '#')
  = form_for Folder.new, url: url, remote: true,            |
    method: :put, data: {type: :json, initial_action: url}, |
    html: {id: 'frm-folder-add-cert', class: 'hidden'} do |f|
    = f.text_field :certificate_order_id, value: nil

- content_for :js do
  :javascript
    jQuery(function($) {
      var curDialog = $('#dialog-form'),
        form = $('#frm-folder-add-cert'),
        coId = '',
        folderName = '',
        folderId = '',
        iconClicked = null, 
        commonName = '';
      
      function updateIconInfo() {
        checked = $('#folders-tree-modal').jstree("get_checked", true)[0];
        co_row = iconClicked.parents('tr');
        iconClicked.removeClass('fa-plus');
        iconClicked.addClass('fa-folder-open');
        iconClicked.data('folder-name', checked.text);
        iconClicked.data('folder-id', checked.id.replace('_folder', ''));
        (checked.text == 'archived') && ("#{action_name}" != 'show') ? co_row.hide() : co_row.show();
      }

      function removeFromFolderExplorer() {
        if ( (folderId.constructor === String && folderId.length > 0) || Number.isInteger(folderId) ) {
          remove_node_id = '#' + folderId + '_folder';
          remove_node = ref.get_node(remove_node_id);
          remove_node.data.certificate_orders.forEach(function(title) {
            if (title.includes(coId)) {
              remove_node.data.certificate_orders.splice(
                remove_node.data.certificate_orders.indexOf(title), 1
              );
              remove_node.data.certificate_orders_count -= 1;
              $(remove_node_id).find(".folder-co-count").text(
                remove_node.data.certificate_orders_count
              );
            }
          });
        }
      }

      function addToFolderExplorer() {
        ref = $('#folders-tree-co').jstree(true);
        add_node_id = '#' + iconClicked.data('folder-id') + '_folder';
        add_node = ref.get_node(add_node_id);
        if (add_node.data.certificate_orders_count == 0) {
          add_node.data.certificate_orders = [commonName + ' (' + coId + ')'];
        } else {
          add_node.data.certificate_orders.push(commonName + ' (' + coId + ')');
        }
        add_node.data.certificate_orders_count += 1;
        $(add_node_id).find(".folder-co-count").text(
          add_node.data.certificate_orders_count
        );
      }

      function updateFolder() {
        if ($('#folders-tree-modal').jstree("get_checked").length == 0) {
          alert("Please check one folder to update.");
        } else {
          form.submit();
          curDialog.dialog('close');
          updateIconInfo();
          if ($('.fa-caret-square-o-up').length) {
            addToFolderExplorer();
            removeFromFolderExplorer();
          }
        }
      }

      function selectFolder() {
        id = folderId + '_folder';
        $('#folders-tree-modal').jstree('check_node', [id]);
      }
      
      function renderFolder() {
        bp = $('.ui-dialog-buttonpane');
        bp.children('p').remove();
        bp.append("<p><i class='fa fa-folder-open'></i> " + folderName + '</p>');
        bp.children('p').css('margin', '0.6rem').css('color', 'grey');
      }

      function setFolderDialog() {
        curDialog.dialog({
          position: { my: 'top center', at: 'top center', of: window },
          title: 'Select Folder For Certificate #' + coId,
          autoOpen: false,
          resizable: false,
          height: 320,
          width: 400,
          modal: true,
          dialogClass: 'dl-select-folder',
          buttons: {
            Cancel: function() {
              curDialog.dialog('close');
            },
            'Update Folder': updateFolder,
          }
        });
      }

      $('.icon-co-add-folder').on('click', function(e) {
        folderName = '';
        folderId = '';
        commonName = '';
        coId = $(this).attr('id');
        iconClicked = $(this);
        
        if ($(this).data('folder-name')) {
          folderName = $(this).data('folder-name');
          folderId = $(this).data('folder-id');
          commonName = $(this).parents('tr').find('.common_name').attr('title');
          selectFolder();
        } else {
          $('#folders-tree-modal').jstree(true).uncheck_all();
        }
        
        form.find('#folder_certificate_order_id').val(coId);
        setFolderDialog();
        curDialog.dialog('open');
        renderFolder();
      });
    });