-title = 'Invite User'
-content_for :title, title
.reseller_registration_profile
  %h3=title
  %p
    Please provide email for the new user.
  =form_for @user, url: managed_users_path, html: {id: 'mu_invite_user'} do |f|
    =f.error_messages
    #stylized.default_form
      .subheading Credentials
      =render :partial => "form", :object => f
    #button_container
      =f.submit 'Invite', class: 'button_blue'

-content_for :js do
  :javascript
    $("#user_ssl_account_ids").select2();
    $(document).ready(function() {
      $("#user_ssl_account_ids").select2();
    });
