<script type="text/javascript">
jQuery.noConflict();
jQuery(function($) {
  $(document).ready(function() {
    // Edit phone number
    $(document).on('click', 'button[id="edit-phone"]', function() {
      $('#edit-phone').hide();
      $('#user_phone').prop('disabled', false);
      $('#user_phone').focus();
    });
    // OTP
    // Send SMS when user submits phone
    var add_phone_otp_url = '<%= add_phone_otps_path %>';
    $('#submit_phone_verification, a#resend-otp-phone').click(function(event) {
      $('#phone-error').hide(); // Hide in case there were errors before
      $('#code-error').hide();
      if($('#user_phone').val() == '') {
        alert('Please fill in your phone number');
      }
      else {
        $.ajax({
        url: add_phone_otp_url,
        data: {
          otp: {
            phone: $('#user_phone').val(),
            phone_prefix: $('#country-code-0').val()
          }
        },
        type: 'GET',
        success: function(result) {
          if(result['error']){
            $('#phone-error').show();
            $('#phone-error').text(result['error']);
            $('#phone-error').css('color', 'red');
          } else if (result['id']) {
            $('#code-verification-fields').show();
            $('#send-otp').hide();
            $('#phone-error').hide(); // Hide in case there were errors before
            // Value for authy_user in form hidden field, to be used in verification
            $('#otp_authy_user').val(result['id']);
          }
        }
      });
      }
    });

    var email_otp_url = '<%= email_otps_path %>';
    $('a#otp-email, a#resend-otp-email').click(function(event) {
      $('#phone-error').hide(); // Hide in case there were errors before
      $('#code-error').hide();
      $.ajax({
        url: email_otp_url,
        data: {
          otp: {
            phone: $('#user_phone').val(),
            phone_prefix: $('#country-code-0').val()
          }
        },
        type: 'GET',
        success: function(result) {
          if(result['error']){
            $('#phone-error').show();
            $('#phone-error').text(result['error']);
            $('#phone-error').css('color', 'red');
          } else {
            $('#code-verification-fields').removeClass('hidden');
            $('#submit_phone_verification').hide();
            $('#otp-email').hide();
            $('#phone-error').hide(); // Hide in case there were errors before
            // Value for authy_user in form hidden field, to be used in verification
            $('#otp_authy_user').val(result['id']);
          }
        }
      });
    });

    // Verify OTP
    var verify_otp_url = '<%= verify_add_phone_otps_path %>';
    $('#code_submit').click(function(event){
      $('#code-error').hide();
      $.ajax({
        url: verify_otp_url,
        data: {
          otp: {
            verification_code: $('#otp_verification_code').val(),
            authy_user: $('#otp_authy_user').val(),
            phone: $('#user_phone').val(),
            phone_prefix: $('#country-code-0').val()
          }
        },
        type: 'POST',
        success: function(result) {
          if(result['error']){
            $('#code-error').show();
            $('#code-error').text(result['error']);
            $('#code-error').css('color', 'red');
          } else if (result['success'] == 'true' ) {
            $('#phone-error').show();
            $('#phone-error').text('Verified!');
            $('#phone-error').css('color', 'green');
            $('#phone-hint').hide();
            $('#code-verification-fields').hide();
          }
        }
      });
    })
  });
});
</script>
