Hello,
Additional validation information is required in order to issue an <%=community_name%> certificate for
domain <%="#{@co.subject}"+(@opvr.preferred_show_order_number? ? " (order number #{@co.ref})" : "")%>.

<%=@technical_contact%> has sent you this request to help complete the <%=community_name%> certificate order for domain
<%=@co.subject%>. In order for us to issue the globally trusted and warranted <%=community_name%> certificate for domain
<%=@co.subject%>, we need additional validation from you to ensure that we are issuing the <%=community_name%> certificate to
authorized parties.

Please visit <%=other_party_validation_request_url(@opvr.identifier)%> to complete the validation process.


Thank you for your assistance,
<%=community_name%> Certificate Services Team
