This certificate is a temporary domain validated 'place holder' to help get you up and running quickly.

To active the Green Bar and display your company name in the address bar of the browser, please visit:

https://<%=portal_domain%>/faqs/ssl-ev-validation-requirements/

