For further assistance or support, please refer to the information below:

Support
  Telephone: <%=Settings.corp_tollfree_tag%>
  Installation Tutorials: https://info.ssl.com/
  Open a Ticket: https://support.ssl.com/default_import/Tickets/Submit

SSL Corp
<%=[Settings.mail_address1, Settings.mail_address2].join(", ")%>
<%=[Settings.mail_city, Settings.mail_state, Settings.mail_zip].join(", ")%>
<% unless is_sandbox_or_test? %>
  <% 
    details_link = @host ? File.join(@host, details_site_seals_path) : details_site_seals_url
    param = { subdomain: Reseller::SUBDOMAIN }
    reseller_link = @host ? File.join(@host, resellers_root_path(param)) : resellers_root_url(param)
  %>
  Are you aware <%=community_name%> allows you to build more trust and transparency with your customers by displaying your <%=community_name%> Smart SeaL? Please visit <%=details_link%> to learn more about the <%=community_name%> Smart SeaL.

  Also, learn more how you can increase your revenue stream by offering or integrating <%=community_name%> certificates, products and services into your product line. Please visit <%=reseller_link%> for more details about the <%=community_name%> Reseller Program

  Running Windows, IIS, Exchange, or OWA? Try out the free SSL Manager for Windows - https://www.ssl.com/guide/ssl-com-manager-an-overview/

  <%=community_name%> is your source for industry strength SSL certificates and trust solutions.
<%end%>
