<%last_sent= @renewal ? nil : @certificate_order.certificate_content.csr.domain_control_validations.last_sent%>
<%common_name = @renewal ? @certificate_order.parent.common_name : @certificate_order.certificate_content.common_name%>
<%if @contact.is_a? Contact -%>
Dear <%=[@contact.first_name, @contact.last_name].join(" ")%>,
<%else-%>
Dear Customer,
<%end -%>

The following SSL certificate <%="renewal" if @renewal%> order has been placed:

Date: <%=@certificate_order.order.created_at.strftime("%B %d, %Y %T")%>
Reference Number: <%=@certificate_order.order.reference_number%>
Description:
    <%="#{@certificate_order.description} #{'renewal' if @renewal} for #{common_name}"%>
<%order_line_items(@certificate_order,true).each do |item|-%>
      - <%=item%>
<%end-%>
      
Please respond the email validation request sent to: <%=last_sent.email_address%>.
If you would prefer the request be sent to a different address, please visit <%=new_certificate_order_validation_url(certificate_order_id: @certificate_order.ref)%> to change the address.
<%end-%>

<%=render(:partial=>"support_contact")%>