SSL.com Certificate Order Confirmation (#<%=@order.reference_number%>)

The following certificate order has been placed:

Date: <%=@order.created_at.strftime("%B %d, %Y %T")%>
Reference Number: <%=@order.reference_number%>

<%@order.cached_certificate_orders.each do |cert|-%>

  <%=cert.description+" ("+cert.quantity.to_s+" qty)"%>
  <%order_line_items(cert, true).each do |item|-%>
        - <%=h item%>
  <%end-%>
<%end-%>
      
<%=render(:partial=>"support_contact")%>
