Dear <%= @certificate_order.get_download_cert_salutation %>,

Your <%=community_name%> certificate for <%= @company_name %> (order #<%=@certificate_order.order.reference_number%>) has been validated and approved.
In order to download the certificate, please visit:

<%=@activation_link%>

Thank you for using ssl.com

<%=render(:partial=>"support_contact")%>