<%if @contact.is_a? Contact -%>
Dear <%=[@contact.first_name, @contact.last_name].join(" ")%>,
<%else-%>
Dear Customer,
<%end -%>

<%unless @last_sent.is_a?(Array) -%>
An <%=community_name%> certificate order has been placed for <%=@certificate_order.certificate_content.common_name%>

Please respond to the email validation request sent to: <%=@last_sent.email_address%>.
<%else -%>
An <%=community_name%> certificate order has been placed for the domain(s): <%=@certificate_order.all_domains.join(", ")%>

Please respond to the following email validation requests:
  <%@last_sent.each do |ls| -%>
    <%=ls.email_address%> for <%=ls.certificate_name.name%>
  <%end -%>
<%end -%>

PLEASE DO NOT REPLY TO THIS EMAIL

If you would prefer the request be sent to a different address, please visit <%=@validation_url%> to change the address.

<%=render(:partial=>"support_contact")%>