Dear <%=@contact%>,

We have received a request to validate control of the following domains for issuance of SSL/TLS certificate(s) for:

Domain:
  <%@domains.each do |domain| -%>
    <%=domain%>
  <%end -%>

To permit the issuance of SSL/TLS certificate(s) for these domains, please visit <%=@validation_url%> and enter the following "validation code":

            <%=@identifier%>

<%=render(:partial=>"support_contact")%>