A new order request has been generated through enrollment link.

Please visit the following url to approve or reject this request.
You will not be invoiced until you approve.

Enrollment Request: <%= @url %>

<%= render partial: 'user_notifier/support_signature' %>
