Dear Customer,

Phone number <%= @phone_number %> has been approved for certificate order <%= @cert_order_ref %>. Validation specialists will be calling this number as part of the validation process.

Thank you.