Hello,

There was a problem sending <%=community_name%> order <%=@certificate_order.ref%> to <%=@ca%>

Reason:
<%ccr=@certificate_order.ca_api_requests.first%>
Request URL: <%=ccr.request_url%>
Redacted Parameters: <%=ccr.redacted_parameters%>
Method: <%=ccr.method%>
Response: <%=ccr.response%>
CA: <%=ccr.ca%>

<%="Error: #{@error.message}"unless @error.blank?%>
Regards,

<%=community_name%> Support Team
