<%cc=@certificate_order.certificate_content%>
<%if @contact.is_a? Contact -%>
Dear <%=[@contact.first_name, @contact.last_name].join(" ")%>,

<%end -%>
Thank you for choosing SSL.com!

Your <%=community_name%> <%=@certificate_order.certificate.description["certificate_type"]%> certificate (ref# <%=@certificate_order.ref%>) for <%=@certificate_order.subject%> is ready and attached to this email. It is offered in the format that you selected when submitting your CSR. You can also find the x.509 certificate in text format at the bottom of this email.

If you need the certificate in other formats, please visit your order download page:

  <%=certificate_order_url(id: @certificate_order.ref)%>

<%if @certificate_order.certificate.is_ev? && !@signed_certificate.is_ev?-%>
The above DV certificate serves as a placeholder so that you can begin securing your site right away. However, in order to enable your EV certificate (and display the green address bar on your site) we'll need a bit more information.

Please submit the document items outlined in the link below through your SSL.com portal:

  https://<%=portal_domain%>/faqs/ssl-ev-validation-requirements/
<%end-%>

Learn more about your certificate order page using the link below:

  https://<%=portal_domain%>/article/certificate-order-page-information/
<%if (@certificate_order.exceeds_br_duration?) && (@certificate_order.created_at > Date.parse('Apr 1 2015'))-%>

  <%=render(:partial=>"duration_limit")%>
<%end-%>

Build more trust and transparency with your customers by displaying your SSL.com Smart SeaL. Get your FREE secure Smart SeaL by visiting the following link:

  <%=certificate_order_site_seal_url(certificate_order_id: @certificate_order.ref)%>

Again, thank you for choosing SSL.com, where we believe a safer Internet is a better Internet.


Kind regards,

SSL.com Support Team

https://info.ssl.com/

https://support.ssl.com/default_import/Tickets/Submit

<%if @certificate_content.ca%>
The certificates below are listed in this order:
<%=@certificate_content.ejbca_certificate_chain(format: :objects).map(&:subject).join("\n")%>

<%=@certificate_content.ejbca_certificate_chain.map(&:strip).join("\n")%>
<%elsif @certificate_order.is_iis?%>
<%=@signed_certificate.to_pkcs7%>
<%elsif @certificate_order.is_nginx?-%>
<%=@signed_certificate.to_nginx%>
<%else-%>
<%=@signed_certificate.body%>
<%end-%>