Dear super user,

It has been requested to approve Phone Number for this certificate order (ref : <%= @cert_order_ref %>)
Please visit this URL and check phone number for approve : <%= @co_edit_page_path%>

Thank you.