Hello,

<%=@requestor.email%> has requested an activation token request for <%=@certificate_order.certificate.product_root.humanize%> certificate <%=@certificate_order.ref%>

Please go here to send the activation token:
<%=certificate_order_url(id: @certificate_order.ref)%>

Thank you.