<%last_sent=@certificate_order.certificate_content.csr.domain_control_validations.last_sent%>
<%= "(TEST)" if @certificate_order.is_test%> SSL.com Certificate Order Confirmation (#<%=@certificate_order.order.reference_number%>)

Dear <%="#{@ssl_account.reseller.first_name} #{@ssl_account.reseller.last_name}"%>,

The following certificate order has been placed:

Date: <%=@certificate_order.order.created_at.strftime("%B %d, %Y %T")%>
Reference Number: <%=@certificate_order.order.reference_number%>
    <%="#{@certificate_order.description} for #{(@certificate_order.certificate_content.common_name)}"%>

Please visit <%=new_certificate_order_validation_url(certificate_order_id: @certificate_order.ref)%> to perform domain validation on this order.

<%=render(:partial=>"support_contact")%>