<%if @contact.is_a? Contact -%>
Dear <%=[@contact.first_name, @contact.last_name].join(" ")%>,

<%end -%>
Your <%=community_name%> Smart SeaL for <%=@certificate_order.subject%> (order #<%=@certificate_order.order.reference_number%>) has been deactivated.

<%if @certificate_order.site_seal.canceled? -%>
  Reason: violation of terms of use for display of the <%=community_name%> Smart SeaL

<%end-%>
Please contact <%=community_name%> Support at support@ssl.com to determine the appropriate action needed to reactive this Smart SeaL.

For more information on your <%=community_name%> Smart SeaL, please visit the following link: <%=certificate_order_site_seal_url(certificate_order_id: @certificate_order.ref)%>

Thank you for using ssl.com

<%=render(:partial=>"support_contact")%>
