Hello,

The following validation documents for <%=@certificate_order.subject%> (<%=community_name%> certificate ref# <%=@certificate_order.ref%>) have been recently uploaded:

<%vh=@certificate_order.validation.validation_histories.last(@files.count)%>
<%vh.each do |file|%>
  <%=file.document_file_name%> - <%=URI.encode("https://"+Settings.actionmailer_host+file.document_url)%>
<%end%>

We will promptly process these files.

<%=render(:partial=>"support_contact")%>

