Hello,
#{"\n"}
Your #{community_name} account for username #{@login} has been activated.
#{"\n"}
=@account_url
#{"\n"}
If the above URL does not work try copying and pasting it into your browser. Please feel free to contact us if you require further assistance.
#{"\n"}
=render 'support_signature'