Thank you for creating an account! Please click the url below to activate your account.

<%=@account_activation_url%>

If the above URL does not work try copying and pasting it into your browser. If you continue to have problems, please feel free to contact us.

<%=render :partial=>'/order_notifier/support_contact'%>