Your <%=community_name%> account email address has successfully been changed to <%=@user.email%>. If you did not make this request, please contact SSL Support immediately at support@ssl.com or toll-free at <%=Settings.corp_tollfree_tag%>.

<%=render :partial=>'/order_notifier/support_contact'%>