Hi there!
You asked us to remind you of your <%= community_name %> username.
Your username is: <%= @user.login %>. 

If you have any questions, or you think this reminder was sent in error, please contact <%= community_name %> support at <%= support_email %>.

Thanks,
The <%= community_name %> team
