Hey <%= @recipient.login %>!

<%= @message.sender.login %> has sent you a private message on <%= community_name %>. Use this link to read it:

<%= message_url(@recipient, Mail.find_by_message_id_and_user_id(@message, @recipient)) %>

Thanks,
The <%= community_name %> team