Hey <%= @user.login %>!

<%= @author.login %> has replied to a thread you are monitoring! Use this link to see:

<%= @url %> 

Thanks,
The <%= community_name %> team

---------------------------------------------------------------------------------
If you don't want to receive e-mails like this one from <%= community_name %>, you can change
your e-mail preferences here:

<%= Settings.site %>/<%= @user.login_slug %>;edit_account
