Hello,
#{"\n"}
This is confirm user #{@remove_user.email} has been removed from your #{community_name} account.
#{"\n"}
If you did not authorize this, please notify #{community_name} security at #{support_email}.
#{"\n"}
=render 'support_signature'
