Welcome to <%= community_name %>, <%= @user.login %>!
Your account has been created, but you still need to activate it before you can log in.
Here's the skinny:

  Your username: <%= @user.login %>

Use this link to activate your account:

  <%= @url %>

Can't click the link? Just copy and paste it into your address bar.

Questions? Easy: <%= support_email %>.

Hope to see you hanging out on <%= community_name %> really soon!
The <%= community_name %> team