<script type="text/javascript">
jQuery.noConflict();
jQuery(function($) {
  $(document).ready(function() {
    $('#number_rows').change(function() {
      $('#per_page').val($(this).val());
      $('#search_form').submit();
    });

    $('#auto_adjust input[name=next]').focus();
    $('#next_submit').click(function(){
      if(!$('input[id$=validation]').attr('checked')){
        alert('Please click the validated checkbox to proceed with order placement.');
        return false;
      }
    });
    $('.enable .dropdown, .enable .status_message, .enable .expand, .enable .subject_column > a, .enable .expandable').click(function() {
      /*if($(this).parents().filter('tr').next().css('display') != 'none'){
        $(this).parents().filter('tr').next().css('display', 'none');
        $(this).parents().filter('tr').find('.dropdown img').attr('src',"< %= asset_path('expand.png') %>");
        $(this).parents().filter('tr').find('.expand').text('expand');
        this.expanded = false;
      }
      else{
        this.expanded = true;
        $(this).parents().filter('tr').find('.dropdown img').attr('src',"< %= asset_path('contract.png') %>");
        $(this).parents().filter('tr').next().show();
        $(this).parents().filter('tr').find('.expand').text('close');
      }*/

      var currentElmt = $(this);

      if (currentElmt.parents().filter('tr').next().hasClass('expanded') == true) {
        if (currentElmt.parents().filter('tr').next().is(":visible")) {
          currentElmt.parents().filter('tr').next().hide();
          currentElmt.parents().filter('tr').find('.dropdown img').attr('src', "<%= asset_path('expand.png') %>");
        } else {
          currentElmt.parents().filter('tr').next().show();
          currentElmt.parents().filter('tr').find('.dropdown img').attr('src', "<%= asset_path('contract.png') %>");
        }
      } else {
        var user_id = currentElmt.parents().filter('tr').attr('alt');
        var ajax_url = '<%=show_user_users_path%>';

        $.ajax({
          url: ajax_url,
          data: {
            id: user_id
          },
          type: 'GET',
          dataType: 'html',
          success: function(result) {
            if (result == 'no-user') {
              location.reload(true);
            } else {
              currentElmt.parents().filter('tr').after(result);
              currentElmt.parents().filter('tr').find('.dropdown img').attr('src', '<%=asset_path('contract.png')%>');
              currentElmt.parents().filter('tr').find('.expand').text('close');
            }
          }
        });
      }
    });
    $('textarea').click(function(){
      $(this).select();
    });
    $(document).on('click', 'input:radio[name*=status]', function() {
      $(this).parents().filter('form').ajaxSubmit();
    });
    $(document).on('click', 'input:radio[name*=duo_enabled]', function() {
      $(this).parents().filter('form').ajaxSubmit();
    });

    $(document).on('click', '.failed_login_count', function(e) {
      e.preventDefault();

      if (confirm("Are you sure you want to reset the count to 0?")) {
        var currentElmt = $(this);
        var ajax_url = '<%=reset_failed_login_count_users_path%>';
        var user_id = $(this).data('ref');

        $.ajax({
          url: ajax_url,
          data: {
            id: user_id
          },
          type: 'GET',
          success: function(result) {
            if (result && result['status'] == 'no-user') {
              location.reload(true);
            } else if (result && result['status'] == 'success') {
              var liElmt = currentElmt.parents().filter('li');
              if (liElmt.length > 0) {
                liElmt.empty();
                liElmt.text('failed login count: 0');
              }
            }
          }
        });
      }
    });

  });
});
</script>
