-ssl = @ssl_account || user.ssl_account
-if request['action']=="edit_settings"
  .settings_block.clearfix
    .destination_block
      %label
        Team url:
        -if ssl.ssl_slug
          #{ssl.ssl_slug}
        -else
          -if permitted_to? :update_ssl_slug, user.ssl_account
            #{link_to 'ADD TEAM URL', edit_ssl_account_path(url_slug: true, ssl_slug: @ssl_slug)}
  .settings_block.clearfix
    .destination_block
      %label
        Team name:
        -if permitted_to? :update_company_name, user.ssl_account
          -path_name = ssl.company_name ? ssl.company_name : 'ADD TEAM NAME'
          #{link_to path_name, edit_ssl_account_path(update_company_name: true, ssl_slug: @ssl_slug)}
        -else
          #{ssl.company_name}
-else
  %li
    team url:
    -if permitted_to?(:update_ssl_slug, user.ssl_account) and ssl.ssl_slug.blank?
      #{link_to 'ADD TEAM URL', edit_ssl_account_path(url_slug: true, ssl_slug: @ssl_slug)}
    -else
      #{ssl.to_slug}
  %li
    team name:
    -if permitted_to? :update_company_name, user.ssl_account
      -path_name = ssl.company_name ? ssl.company_name : 'ADD TEAM NAME'
      #{link_to path_name, edit_ssl_account_path(update_company_name: true, ssl_slug: @ssl_slug)}
    -else
      #{ssl.get_team_name}
