-title="#{community_name} Customer Dashboard"
-content_for :title, title
.reseller_registration_select_tier
  h2=title
  p
    | The SSL standard account is designed to streamline your ssl.com certificate
    | purchases by providing an all encompassing interface related to your ssl
    | certificates including, validations, tracking, reporting, and Smart SeaLs.
  -if ssl_account.has_only_credits?
    p
      | You currently have unused ssl certificate credits. You will need to submit
      | a certificate signing request (csr) for a particular pending ssl.com
      | certificate credit in order to process the credit into an ssl certificate
      | for your website.
      =link_to "Click here to see a list of your ssl.com certificate credits.", credits_certificate_orders_path
  -unless ssl_account.has_certificate_orders?
    p
      | To get started and enable encryption and trust services on your website
      | through an ssl.com certificate, you will need to acquire an ssl.com
      | certificate.
      =link_to "Click here to see a list ssl.com certificate products.", certificates_path
  -if Settings.enable_affiliate_program==true && !current_user.is_affiliate? && !is_sandbox?
    .become_reseller_title(style="margin: 10px 0 0")
      p
        strong.red NEW! Earn commissions through the #{community_name} Referral Link Program
      p
        a(href="https://affiliates.ssl.com")
          | Click here 
        | to become an #{community_name} Referral Link Partner or 
        = link_to "click here for more details", details_affiliates_path
= render partial: 'users/standard_dashboard', locals: {user: user, ssl_account: ssl_account}