-cc = co.certificate_content
-cn = (co.is_unused? || cc.csr.blank?) ? nil : cc.csr.common_name
%table(cellspacing="0")
  %tbody
    %tr.alt
      %th certificate type
      %th duration
      %th validation level
      %th certificate #
      %th issued on
      %th requested on
    %tr.alt
      %td= certificate_type(co)
      %td= co.certificate_duration
      %td= co.certificate.description["validation_level"]
      %td= co.ref
      %td
        -unless co.is_expired_credit?
          =(cn.blank? || cc.csr.signed_certificate.blank?)? 'pending' : cc.csr.signed_certificate.created_at.strftime("%b %d, %Y")
        -else
          n/a
      %td= (cn.blank?)? 'n/a' : cc.csr.created_at.strftime("%b %d, %Y")
