#account_status
  .quickbox
    .heading
      %strong Quick Links
    %ul
      -if current_user.is_system_admins?
        -if current_user.can_manage_certificates?
          %li=link_to "Certificate Mgmt", admin_index_certificates_path
        %li=link_to 'Chargebacks', filter_by_state_orders_path(@ssl_slug, "charged_back")
        %li=link_to 'Refunds', filter_by_state_orders_path(@ssl_slug, "fully_refunded")
        
        %li=link_to 'Phone Approvals', approvals_phone_callbacks_path(@ssl_slug)
        %li=link_to 'Phone Verifications', verifications_phone_callbacks_path(@ssl_slug)
      -else
        -if Folder.show_folders?(current_user)
          %li#lnk-folders-ql
            %i.fa.fa-folder-open
            =link_to "Explorer", folders_path(@ssl_slug), id: "lnk-co-folders"
          %li
            =link_to "S/MIME or Client enrollment", smime_client_enrollment_certificate_orders_path(ssl_slug: @ssl_slug)
        -unless is_sandbox?
          %li=link_to 'Buy Certificate', certificates_url
          %li=link_to 'Deposit Funds', allocate_funds_url(ssl_slug: @ssl_slug)
          -if current_page?(orders_url) && ssl_account && permitted_to?(:index, :invoices) && ssl_account.invoices.any?
            %li=link_to 'Invoices', invoices_path(@ssl_slug)
            -if current_user.ssl_account.reseller
              %li
                =link_to 'Certificate Pricing', reseller_tier_url(current_user.ssl_account.reseller.reseller_tier.id)
          -if !current_user.is_system_admins? and (current_user.ssl_account && permitted_to?(:index, :billing_profiles))
            %li=link_to 'Billing Profiles', billing_profiles_path(ssl_slug: @ssl_slug)
          -if permitted_to?(:index, :site_seals)
            %li=link_to "Smart SeaLs", details_site_seals_url
        -if current_user.ssl_account.show_domains_manager?
          -permitted_to? :index, :domains do
            %li=link_to "Domains Manager", domains_path(@ssl_slug)
            %li=link_to "CSRs Manager", managed_csrs_path(@ssl_slug)
        -if permitted_to?(:index, :certificate_orders)
          %li=link_to "SSL Manager Apps", registered_agents_path(ssl_slug: @ssl_slug)
          %li=link_to 'Contacts Manager', saved_contacts_contacts_path(ssl_slug: @ssl_slug)
          %li=link_to 'Identity Manager', saved_contacts_contacts_path(ssl_slug: @ssl_slug, registrants: true)
        -if permitted_to?(:index, :certificate_enrollment_requests) and Settings.enrollment_links
          %br/
          %li Orders:
          %li=link_to 'Enrollment Links', enrollment_links_certificate_enrollment_requests_path(@ssl_slug)
          %li=link_to 'Enrollment Requests', certificate_enrollment_requests_path(@ssl_slug)

      %li &nbsp;
      %li Filter Orders:
      -is_test=is_sandbox? ? " is_test:true" : ""
      %li=link_to "Basic SSL", search_certificate_orders_path(@ssl_slug, search: "product:basicssl#{is_test}")
      %li=link_to "UCC/SAN SSL", search_certificate_orders_path(@ssl_slug, search: "product:ucc#{is_test}")
      %li=link_to "Premium SSL", search_certificate_orders_path(@ssl_slug, search: "product:premiumssl#{is_test}")
      %li=link_to "Wildcard SSL", search_certificate_orders_path(@ssl_slug, search: "product:wildcard#{is_test}")
      %li=link_to "Code Signing", search_certificate_orders_path(@ssl_slug, search: "product:code-signing#{is_test}")
      %li=link_to "EV SSL", search_certificate_orders_path(@ssl_slug, search: "product:ev#{is_test}")
      %li=link_to "EV UCC/SAN SSL", search_certificate_orders_path(@ssl_slug, search: "product:evucc#{is_test}")
      %li=link_to "EV Code Signing", search_certificate_orders_path(@ssl_slug, search: "product:ev-code-signing#{is_test}")
      %li=link_to "Physical Tokens", search_certificate_orders_path(@ssl_slug, search: "physical_tokens:in_transit,received,in_possession#{is_test}")
      %li=link_to "Personal Basic", search_certificate_orders_path(@ssl_slug, search: "product:personal-basic#{is_test}")
      %li=link_to "Personal Pro", search_certificate_orders_path(@ssl_slug, search: "product:personal-pro#{is_test}")
      %li=link_to "Personal Business", search_certificate_orders_path(@ssl_slug, search: "product:personal-business#{is_test}")
      %li=link_to "NAESB Client", search_certificate_orders_path(@ssl_slug, search: "product:personal-naesb-basic#{is_test}")
      -unless current_user.is_system_admins?
        %li &nbsp;
        %li Developers:
        %li=link_to "Developer Tools", is_sandbox? ? developers_certificate_orders_url : "https://sandbox.ssl.com"
      =render partial: '/tags/popular_tags'
