-@cert_order=co=@certificate_order
-title = "API Commands for Certificate #{co.ref}"
-content_for :title, title+@certificate_order.ref
-cc=co.certificate_content
-cn=co.subject || ""
-v=co.validation
#validations
  %h2=title
  %table(cellspacing="0")
    %caption
      API Commands for Certificate #{link_to(cn.downcase, co)} (for developer's only)
    %tr.heading_row
      %th.name(scope="col")Subject
      %th(scope="col" colspan="4") Validation Status
    %tr
      %td.name.not_expandable
        .subject_column.center_subject
          =render :partial=>'/certificate_orders/subject_column', :locals=>{:certificate_order=>co, :single=>true}
      -os, os_class=overall_status(v.validation_rulings)
      %td.validation_status_message.not_expandable(class="#{os_class}" colspan="4")=os
    %tr.expanded
      %td(colspan="6")
        .certificate_details
          =render :partial=>'/certificate_orders/menu', :locals=>{:co=>co}
          =render :partial=>'/certificate_orders/co', :object=>co
    %tr
      %td(colspan="6")
        =render partial: 'certificate_orders/api', locals: {co: co, cc: cc}
