<%= javascript_include_tag '//stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js' %>
<%= stylesheet_link_tag 'bootstrap_fix' %>

<script type="text/javascript">
jQuery(function($) {
  $(document).ready(function() {
    $('.js-tooltip').tooltip();

    $('.remove_ac').on('click', function(){
      if(!confirm('Please confirm deletion of API credential. This cannot be undone')) return false;
    });

    $(document).on('click', '#api_credential_secret_key', function() {
      var skey = $(this).attr('data-secret-key');
      $(this).val(skey);
    });

    $(document).on('change', '#api_credential_secret_key', function() {
      var skey = $(this).val();
      $(this).attr('data-secret-key', skey);
      $('#api_credential_acc_secret_key').val(skey);
    });

    $(document).on('blur', '#api_credential_secret_key', function() {
      $(this).val('Click to view');
    });

    $(document).on('click', '.td_secret_key', function() {
      var skey = $(this).attr('data-secret-key');
      $(this).html(skey);
    });

    $(document).on('blur', '.td_secret_key', function() {
      $(this).html('Click to view');
    });

    var ajaxResetCredentialUrl = '<%= reset_credential_api_credential_path %>';
    $(document).on('click', '#btn_reset_secretkey', function() {
      if(!confirm('Are you sure you want to reset the secret key? This action cannot be undone.')) return false;
      var acc_id = $('#api_credential_acc_id').val();
      $.ajax({
          url: ajaxResetCredentialUrl,
          data: {
            acc_id: acc_id
          },
          type: 'POST',
          success: function(result) {
            $('#api_credential_secret_key').attr('data-secret-key', result.api_credential.secret_key);
            $('#api_credential_acc_secret_key').val(result.api_credential.secret_key);
          }
        });
    });
  });
});
</script>
