/= active_scaffold_includes
= javascript_include_tag "prototype", :plugin => "community_engine"
= javascript_include_tag "live_validation"
/= javascript_include_tag "scriptaculous"
= javascript_include_tag "effects"
= javascript_include_tag "event-selectors", :plugin => "community_engine"
= javascript_include_tag "glider", :plugin => "community_engine"
= javascript_include_tag "controls" unless current_page?({:controller => 'application', :action => 'index'})
= javascript_include_tag "dragdrop", :plugin => "community_engine" if @controller.controller_name.eql?('users') && %w(welcome_about edit update).include?(@controller.action_name)
= javascript_include_tag "application", :plugin => "community_engine"
= javascript_include_tag "rounder", :plugin => "community_engine"
= javascript_include_tag "AC_RunActiveContent", :plugin => "community_engine" if current_page?(:controller => 'photos', :action => 'new') or current_page?(:controller => 'statistics', :action => 'index')
-#- if current_page?(:controller => 'photos', :action => 'new') or current_page?(:controller => 'studio_photos', :action => 'new')
  = javascript_include_tag 'swfupload', :plugin => "community_engine"
  = javascript_include_tag 'uploader', :plugin => "community_engine"
= calendar_date_select_includes "blue"
-#= stylesheet_link_tag 'reset-fonts-grids.css', :plugin => :community_engine
-#= stylesheet_link_tag 'screen', :plugin => :community_engine
= stylesheet_link_tag 'print', :plugin => :community_engine, :media => 'print'

- if current_page?({:controller => 'posts', :action => 'show'}) || current_page?({:controller => 'posts', :action => 'index'}) || current_page?({:controller => 'releases', :action => 'show'}) || current_page?(search_path)
  = javascript_include_tag 'lightbox', :plugin => "community_engine"
  = stylesheet_link_tag 'lightbox', :plugin => "community_engine"

= javascript_include_tag "prototip-min", :plugin => "community_engine"
= stylesheet_link_tag 'prototip', :media => 'screen', :plugin => "community_engine"

= javascript_include_tiny_mce_if_used
= tiny_mce if using_tiny_mce?

- if forum_page?
  = javascript_include_tag 'lowpro', 'forum', :plugin => 'community_engine'
  = stylesheet_link_tag 'forum', :plugin => 'community_engine'
  - unless @feed_icons.blank?
    - @feed_icons.each do |feed|
      = auto_discovery_link_tag :rss, feed[:url], :title => "Subscribe to '#{feed[:title]}'"
