- title = 'SSL.com Mail: Read'
- content_for :title, title

#mailbox-container
  = render partial: 'menu_main'
  #mailbox-main-content
    = render partial: 'menu_top'
    = render partial: 'email_messages'
    