.table-container {

  .sort_link {
    @apply flex items-center justify-center;
  
    &::after {
      // f0dc
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f0dc";
      display: none;
    }
  
    &.asc::after {
      // f0de
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f0d8";
      display: none;
    }
  
    &.desc::after {
      // f0dd
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f0d7";
      display: none;
    }
  
    & svg {
      margin-left: 0.5rem;
      @apply text-base text-primary-500;
    }
  }
  
  @apply block w-full my-4;

  & div {
    @apply box-border;
  }

  & .table {
    @apply flex flex-col flex-wrap;

    & .thead {
      @apply w-full;

      & .tr {
        @apply flex rounded;

        & .td {
          @apply flex items-center p-6 text-sm font-bold;
        }
      }
    }

    & .tbody {
      @apply w-full;

      & .tr {
        @apply flex mt-2 bg-white rounded;

        & .td {
          @apply flex items-center p-6 text-sm font-normal;
        }
      }
    }
  }









  // & .flex-table {

  //   @apply flex flex-row flex-wrap border-l border-gray-300;

  //   &.header {}
  //   &.row {}
  // }

  // & .table-row {}
}


// div {
//   box-sizing: border-box;
// }

// .table-container {
//   display: block;
//   margin: 2em auto;
//   width: 90%;
// }

// .flag-icon {
//   margin-right: 0.1em;
// }

// .flex-table {
//   display: flex;
//   flex-flow: row wrap;
//   border-left: solid 1px #eeeeee;
//   transition: 0.5s;
//
//   &:first-of-type {
//     border-top: solid 1px #eeeeee;
//     border-left: solid 1px #eeeeee;
//   }
//
//   &:first-of-type .flex-row {
//     background: #eeeeee;
//     color: white;
//     border-color: #eeeeee;
//   }
//
//   &.row:nth-child(odd) .flex-row {
//     background: #eeeeee;
//   }
//
//   &:hover {
//     background: #F5F5F5;
//     transition: 500ms;
//   }
// }

// .flex-row {
//   width: calc(100% / 4);
//   text-align: center;
//   padding: 0.5em 0.5em;
//   border-right: solid 1px #eeeeee;
//   border-bottom: solid 1px #eeeeee;
// }

// .rowspan {
//   display: flex;
//   flex-flow: row wrap;
//   align-items: flex-start;
//   justify-content: center;
// }

// .column {
//   display: flex;
//   flex-flow: column wrap;
//   width: 75%;
//   padding: 0;
//   .flex-row {
//     display: flex;
//     flex-flow: row wrap;
//     width: 100%;
//     padding: 0;
//     border: 0;
//     border-bottom: solid 1px #eeeeee;
//     &:hover {
//       background: #F5F5F5;
//       transition: 500ms;
//     }
//   }
// }

// .flex-cell {
//   width: calc(100% / 3); //1px = border right
//   text-align: center;
//   padding: 0.5em 0.5em;
//   border-right: solid 1px #eeeeee;
//   //flex: 1 1 33.3%;
//   &:last-child {
//     // border-right: 0;
//   }
// }

