-if in_production_mode? && !@order.ext_affiliate_credited?
  / Google Code for Sale Conversion Page
  %script{type: "text/javascript"}
    /* <![CDATA[ */
    var google_conversion_id = 975052302;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "bHSXCPu0h2AQjrz40AM";
    var google_conversion_value = "#{@order.amount}";
    var google_remarketing_only = false;
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-30469369-1', 'ssl.com');
    ga('require', 'ecommerce', 'ecommerce.js');
    ga('ecommerce:addTransaction', {
    'id': '#{@order.reference_number}', // Transaction ID. Required.
    'affiliation': 'SSL.com', // store name.
    'revenue': '#{@order.final_amount}' // total revenue.
    });
    -@order.line_items.each do |li|
      -cert = li.sellable
      -description = row_description(cert)
      -description << " (#{cert.subject}) - ##{cert.ref}" if(cert.is_a?(CertificateOrder) && cert.subject)
      -qty = cert.is_a?(CertificateOrder) ? (cert.line_item_qty || cert.quantity || "1") : "1"
      ga('ecommerce:addItem', {
      'id': '#{@order.reference_number}', // Transaction ID. Required. Same as in the transaction data.
      'name': '#{description}', // Product name. Required.
      'sku': '#{cert.is_a?(CertificateOrder) ? cert.certificate.serial : cert.class.name.downcase}', // Product SKU.
      'category': 'SSL Certificate', // Product Category or variation.
      'price': '#{li.amount}', // Product price.
      'quantity': '#{qty}' // Product Quantity.
      });
    ga('ecommerce:send');
    /* ]]> */
  %script{src: "//www.googleadservices.com/pagead/conversion.js", type: "text/javascript"}
  %noscript
    %div{style: "display:inline;"}
      %img{alt: "", height: "1", src: "//www.googleadservices.com/pagead/conversion/975052302/?value=#{@order.amount}&amp;label=#{@order.reference_number}&amp;guid=ON&amp;script=0", style: "border-style:none;", width: "1"}/