-product = line_item.sellable
-unless product.blank? or product.price.blank?
  -@running_total+=line_item.affiliate_commission_price
  -title=product.title
  %tr[product]
    %td= line_item.id
    %td= line_item.id
    %td= line_item.order.created_at.strftime("%m/%d/%y %H:%M:%S")
    %td= link_to(product.studio.display_name.shorten(20), studio_path(product.studio))
    %td= link_to title.shorten(30), release_path(product.studio, product), :title=>title
    %td= product.price.format
    %td= "#{line_item.affiliate_commission.format}  (@#{number_to_percentage(line_item.affiliate_payout_rate*100, :precision => 0)})"
    %td= Money.new(@running_total).format
