<%certificate ||= @certificate_order.certificate if @certificate_order%>
<script type="text/javascript">
jQuery.noConflict();
jQuery(function($) {
  var show_new_user_section=true;
  var count = []; //used to map existing cart items with reindexed cookies
  $(document).keypress(function (e) {
    var key = e.which;
    if(key == 13)  // the enter key code
    {
      $('#auto_adjust input[name=next]').click(); //Next button
      return false;
    }
  });
  $.line_item_total = function(id){
    qty=$('span[id^=qty_'+id+']').length > 0 ? $('[id^=qty_'+id+']').text() :
      $('[id^=qty_'+id+']').val();
    total_str=$('[id^=total_'+id+']').text();
    price=$('[id^=price_'+id+']').text().match(/[\d\.\,]+/)
    price=price.toString().replace(/,/,'');
    total=qty*price;
    total = total.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    total_str=total_str.replace(/[\d\.\,]+/, total);
    $('[id^=total_'+id+']').text(total_str);
    $.adjust_cart_total();
  };
  $.adjust_cart_total = function(){
    total = 0;
    $('[id^=total_]').each(function(){
      total += parseFloat($.toMoneyFloat($(this).text()));
    });
    total=(total!=0)?total.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ","):"0.00";
    $('#cart_total').text('$'+total+" USD");
  };
  $.update_cart_qty_display = function(){
    qty=$('[id^=remove_]').length;
    $('#cart_count').text($('#cart_count').text().replace(/\d+/,qty));
    $('#cart_items_qty').text($('#cart_items_qty').text().replace(/\d+/,qty));
    if(qty==1)
      $('#cart_items_qty').text($('#cart_items_qty').text().replace(/[a-zA-Z]+/,'item'));
    else
      $('#cart_items_qty').text($('#cart_items_qty').text().replace(/[a-zA-Z]+/,'items'));
    $('#cart_count').text($('#cart_count').text().replace(/[a-zA-Z]+/,''));
    $('#cart_items_qty', '.icn_cart').effect("highlight", {color:'green'}, 500);
  };
  $.change_cart_items_qty = function(quantity, indx){
    cart = $.get_cart_items();
    //structure of a certificate order in the cart is as follows
    //product,num_years,num_servers,domains,quantity:
    $(count).each(function(index, value){
      if(value==indx){
        indx=index;
      }
    });
    if(quantity>0) {
      cart[indx]["<%=ShoppingCart::QUANTITY%>"]=quantity;
    } else {
      count.remove(indx);
      cart.remove(indx);
    }
    $.save_cart(cart);
  };
  $(document).ready(function() {
    $('#number_rows').change(function() {
      $('#per_page').val($(this).val());
      $('#search_form').submit();
    });

    $('#btn_order_filter').click(function() {
      $('#wrap_order_filter').show();
      $('#btn_order_search').prop('disabled', true);

      var filterItems = $('#search').val().split(/\s(?=(?:[^']|'[^']*')*$)/);
      $.each(filterItems, function(idx) {
        var filterItem = filterItems[idx];
        if (filterItem.indexOf(':') > 0) {
          var filterKey = filterItem.split(':')[0];
          var filterValue = filterItem.split(':')[1];

          $('#filter_' + filterKey + '_chk').prop('checked', true);

          if (filterKey == 'is_test') {
            return;
          }

          if (filterKey == 'created_at') {
            var dateStr = filterValue.split('-')[0];
            dateStr = dateStr.split('/')[2] + '-' + dateStr.split('/')[0] + '-' + dateStr.split('/')[1];
            $('#filter_' + filterKey.split('_')[0] + '_from').val(dateStr);

            if (filterValue.split('-').length > 1) {
              dateStr = filterValue.split('-')[1];
              dateStr = dateStr.split('/')[2] + '-' + dateStr.split('/')[0] + '-' + dateStr.split('/')[1];
              $('#filter_' + filterKey.split('_')[0] + '_to').val(dateStr);
            }
          } else if (filterKey == 'amount') {
            if (filterValue.indexOf('-') > 0) {
              $('.range').show();
              $('#filter_amount').val('range');
              $('#filter_amount_from').val(filterValue.split('-')[0]);
              $('#filter_amount_to').val(filterValue.split('-')[1]);
            } else if (filterValue.indexOf('>') == 0 || filterValue.indexOf('<') == 0) {
              filterValue.indexOf('>') == 0 ? $('#filter_amount').val('bigger') : $('#filter_amount').val('smaller');
              $('#filter_amount_from').val(filterValue.substring(1));
            } else {
              $('#filter_amount').val('equal');
              $('#filter_amount_from').val(filterValue);
            }
          } else if (filterKey == 'product') {
            $('#filter_' + filterKey).val(filterValue.split(','));
          } else {
            if (filterValue.charAt(0) == "'" && filterValue.charAt(filterValue.length - 1) == "'") {
              $('#filter_' + filterKey).val(filterValue.slice(1, -1));
            } else {
              $('#filter_' + filterKey).val(filterValue);
            }
          }

          var filterWrap = $('#filter_' + filterKey + '_chk').parent().parent().next().find('.filter_cont');
          filterWrap.show();
        }
      });
    });

    $('#btn_close_order_filter').click(function() {
      $('#wrap_order_filter').hide();
      $('#btn_order_search').prop('disabled', false);

      $('.filter_chk').prop('checked', false);
      $('.filter_cont_text').val('');
      $('.filter_cont_date').val('');
      $('#filter_product.filter_cont_slt').val([]);
      $('#filter_amount.filter_cont_slt').val('equal');
      $('.filter_cont').hide();
      $('.range').hide();
    });

    $('#btn_order_filter_search').click(function() {
      var query = '';

      $('.filter_item').each(function() {
        var isChecked = $(this).find('.filter_chk').prop('checked');

        if (isChecked) {
          if ($(this).find('.filter_chk').prop('id') == 'filter_is_test_chk') {
            query += $(this).find('.filter_chk').data('field') + ':true ';
            return;
          }
          if ($(this).find('.filter_chk').prop('id') == 'filter_mi_chk') {
            query += 'monthly_invoice:true';
            return;
          }
          var filterCont = $(this).find('.filter_cont');
          var val, itemQuery = '';

          if (filterCont.data('type') == 'text') {
            val = filterCont.children().val().indexOf(' ') > 0 ? "'" + filterCont.children().val() + "'" : filterCont.children().val();
            if (val.trim() != '') {
              itemQuery = filterCont.children().data('field') + ':' + val;
            }
          } else if ( (filterCont.data('type') == 'select') || (filterCont.data('type') == 'select-multi') ) {

            if (filterCont.children().val()) {
              val = filterCont.children().val().toString();

              if (val.trim() != '') {
                cur_field = filterCont.children().data('field');
                cur_val = cur_field == 'order_tags' ? ('\'' + val + '\'')  : val;
                itemQuery = cur_field + ':' + cur_val;
              }
            }
          } else if (filterCont.data('type') == 'mix') {
            if (filterCont.find('#filter_amount').val() == 'range') {
              val = filterCont.find('#filter_amount_from').val() + '-' + filterCont.find('#filter_amount_to').val();
            } else if (filterCont.find('#filter_amount').val() == 'bigger') {
              val = '>' + filterCont.find('#filter_amount_from').val();
            } else if (filterCont.find('#filter_amount').val() == 'smaller') {
              val = '<' + filterCont.find('#filter_amount_from').val();
            } else {
              val = filterCont.find('#filter_amount_from').val()
            }

            itemQuery = filterCont.data('field') + ':' + val;
          } else if (filterCont.data('type') == 'date') {
            var from = filterCont.children().first().children().first().val();
            var year = '';

            if (from != '') {
              year = from.substring(0, from.indexOf('-'));
              from = from.substring(from.indexOf('-') + 1) + '-' + year;

              var to = filterCont.children().last().children().first().val();

              if (to != '') {
                year = to.substring(0, to.indexOf('-'));
                to = to.substring(to.indexOf('-') + 1) + '-' + year;
                val = from.replace(/-/g, '/') + '-' + to.replace(/-/g, '/');
              } else {
                val = from.replace(/-/g, '/');
              }

              itemQuery = filterCont.children().last().children().first().data('field') + '_at:' + val;
            }
          }

          query += itemQuery + ' ';
        }
      });

      $('#search').val(query.trim());
      $('#search_form').submit();
    });

    $('.filter_item input[type="checkbox"]').click(function() {
      if ($(this).prop('id') == 'filter_is_test_chk') {
        return;
      }

      var isChecked = $(this).prop('checked');
      var parentSiblingNode = $(this).parent().parent().next();
      var filterItem = parentSiblingNode.find('.filter_cont');

      if (isChecked) {
        filterItem.show();
      } else {
        if ($(this).prop('id') == 'filter_created_at_chk') {
          filterItem.children().first().children().first().val('');
          filterItem.children().last().children().first().val('');
        } else if ($(this).prop('id') == 'filter_product_chk') {
          filterItem.children().val([]);
        } else if ($(this).prop('id') == 'filter_order_tags_chk') {
          filterItem.children().val([]);
        } else if ($(this).prop('id') == 'filter_amount_chk') {
          filterItem.find('#filter_amount').val('equal');
          filterItem.find('#filter_amount_from').val('');
          filterItem.find('#filter_amount_to').val('');
          filterItem.find('.range').hide();
        } else {
          filterItem.children().val('');
        }

        filterItem.hide();
      }
    });

    $('#filter_amount').change(function() {
      var condition = $(this).val();
      var parentNode = $(this).parent().parent();

      if (condition == 'range') {
        parentNode.find('.range').show();
      } else {
        parentNode.find('#filter_amount_to').val('');
        parentNode.find('.range').hide();
      }
    });

    $('.filter_cont_date').change(function() {
      var idVal = $(this).attr('id');
      var from, to = '';

      if (idVal.indexOf('from') > 0) {
        from = idVal;
        to = from.replace('from', 'to');
      } else {
        to = idVal;
        from = to.replace('to', 'from');
      }

      if ((idVal == from && $('#' + to).val() != '')
        || (idVal == to && $('#' + from).val() != '')) {
        var dateFrom = $('#' + from).val();
        var dateTo = $('#' + to).val();

        if (dateFrom > dateTo && idVal == from) {
          $('#' + from).val('');
        } else if (dateFrom > dateTo && idVal == to) {
          $('#' + to).val('');
        }
      }
    });


    <%=render partial: 'billing_profiles/profile_scripts'%>
    $('.dropdown, .validation_status_message, .expand, .subject_column > a').click(function(){
      if($(this).parents().filter('tr').next().css('display')!='none'){
        $(this).parents().filter('tr').next().css('display', 'none');
        $(this).parents().filter('tr').find('.dropdown img').attr('src',"<%= asset_path('expand.png') %>");
        $(this).parents().filter('tr').find('.expand').text('expand');
        this.expanded = false;
      }
      else{
        this.expanded = true;
        $(this).parents().filter('tr').find('.dropdown img').attr('src',"<%= asset_path('contract.png') %>");
        $(this).parents().filter('tr').next().show();
        $(this).parents().filter('tr').find('.expand').text('close');
      }
    });
    $('textarea').click(function(){
      $(this).select();
    });
    $('.has_account_container').click(function(){
      $(this).siblings().filter(':radio[name*=has_account]').click();
    });
    $(':radio[name*=has_account]').click(function(){
      if($(this).val()=="true"){
        show_new_user_section=false;
        $('#billing_section').hide();
        $('#new_user_section').hide();
        $('#login_section').show();
        <%if certificate -%>
        $('#subscriber_agreement').hide();
        <%end%>
      }
      else{
        show_new_user_section=true;
        $('#billing_section').show();
        $('#new_user_section').show();
        $('#login_section').hide();
        <%if certificate -%>
        $('#subscriber_agreement').show();
        <%end%>
      }
    });
    $(':radio[name*=has_account][value=false]').click();

    enableSubmitBtn = function() {
      $('.order_next').show();
    }

    disableSubmitBtn = function () {
      $('.order_next').hide();
    }

    // prepare Options Object
    var options = {
      dataType: 'json',
      url: '<%=user_session_path%>',
      success: function(data, status, $form) {
        if (typeof(data.record) == "undefined") {
          errorArray = [];
          msg = "Login error(s):\n";
          if (typeof(data.errors) != "undefined") {
            for (var key in data.errors) {
              if (data.errors.hasOwnProperty(key)) {
                errorArray.push(key + ": " + data.errors[key].join(", "));
              }
            }
          } else if (typeof(data.duplicate_v2_user) != "undefined") {
            errorArray.push(
              "Ooops, '" + data.duplicate_v2_user.login + "' has been consolidated with a primary account. Please contact support@ssl.com for assistance or more information."
            );
          }

          errorString = errorArray.join(",\n");
          alert(msg+errorString);

          if (
            parseInt($('.failed_count').val()) >= <%= Settings.captcha_threshold %> &&
            $('#g-recaptcha-response').val() == ""
          ) {
            $('.order_next').hide();
            $('#recaptcha_container').show();
          }
        } else {
          if (data.record.user.status == 'disabled') {
            alert('This account has been disabled');
          } else if (data.record.user.status == 'enabled') {
            if (!$('#billing_section').is(':visible') && !$('#new_user_section').is(':visible')) {
              data.redirect_method = 'redirect';
            }

            if (data.redirect_method == 'submit') {
              if (data.url)
                $('form#new_order').attr("action", data.url);
              $('form#new_order').submit();
            } else if (data.redirect_method == 'redirect') {
              window.location = data.url;
            } else {
              //leave only billing fields showing
              $('#billing_section').show();
              $('#subscriber_agreement').show();
              $('#login_section, #new_user_section').add($('.radio_choices').parent()).remove();

              var status_bar = $("<div class='flash_message close'></div>");
              status_bar.hide();
              $('.reseller_registration_select_tier').before(status_bar);
              status_bar.addClass('notice').append("<span>Successfully logged in.</span>");
              status_bar.fadeIn();

              $('.user_session').html('<%=link_to "Logout", logout_url%>');
              if (data.billing_profiles) {
                $('#stylized.deposit_funds_form').prepend(data.billing_profiles);
                profile_form_hidden = <%=!initial_display?.empty?%>;
                if (profile_form_hidden == false) {
                  $('#register_card_form').fadeOut();
                  $(this).add('img[id=toggle_billing_profile_form]').attr('src', "<%= asset_path('add_new_billing_profile.png') %>");
                  $(':radio[id*='+profile_id+']').attr("checked","checked");
                  profile_form_hidden = true;
                }
              }
            }
            return true;
          }
        }
        $(':password').clearFields();
      }
    };
    $('input:image').livequery('click', function(e) {
      var url = window.location.pathname;
      if ($(':radio[name*=has_account]:checked').val() == "true"
        && $(this).attr('name')=='next'
      ) {
        // Before Ajax
        $('div[id*=Explanation][class*=Explanation]').remove();

        var user_session = {};
        user_session['login'] = $('#user_session_login').val();
        user_session['password'] = $('#user_session_password').val();
        user_session['failed_count'] = $('.failed_count').val();
        user_session['g-recaptcha-response'] = $('#g-recaptcha-response').val();

        var ajaxLoginUrl = '<%=user_login_user_session_path%>';
        $.ajax({
          url: ajaxLoginUrl,
          data: {
            user_session: user_session
          },
          type: "POST",
          success: function(result) {
            <%# window.location = '/orders/new'; %>
          }
        });

        return false;
      } else if ($(this).attr('name') == 'prev'
        && (
          url == '/orders/new'
          || url == '/orders/checkout'
        )
      ) {
        e.preventDefault();
        window.location = "<%=show_cart_orders_url%>" + '?id=' + $.cookie("<%=ShoppingCart::CART_GUID_KEY %>");
      }
    });

    $('select[id^=qty_]').change(function(){
      id=$(this).attr("id").match(/\d+$/)[0];
      $.line_item_total(id);
      $.change_cart_items_qty(qty, id);

      var ajaxChangeQuantityInCartUrl = "<%=change_quantity_in_cart_orders_path%>";
      $.ajax({
        url: ajaxChangeQuantityInCartUrl,
        global: false,
        data: {},
        type: "POST",
        success: function(result) {
          if (result['status'] != 'success') {
            location.reload(true);
          }
        }
      });
    });
    $('span[id^=remove_]').click(function(event, no_cart_qty_update){
      id=$(this).attr("id").match(/\d+$/)[0];
      $('tr[class$='+id+']').fadeOut();
      $('tr[class$='+id+']').remove();
      $.adjust_cart_total();
      $.change_cart_items_qty(0, id);
      if(no_cart_qty_update==null){
        if(count.length==0)
          $('span#clear_cart').triggerHandler('click');
        else
          $.update_cart_qty_display();

        var ajaxChangeQuantityInCartUrl = "<%=change_quantity_in_cart_orders_path%>";
        $.ajax({
          url: ajaxChangeQuantityInCartUrl,
          data: {},
          type: "POST",
          success: function(result) {
            if (result['status'] != 'success') {
              location.reload(true);
            }
          }
        });
      }
    });
    $('span#clear_cart').click(function(){
      $(count).each(function(index, value){
        $('span[id^=remove_'+value+']').triggerHandler('click', true);
      });
      $('a#shop_more_img').html('<%=image_tag('add_items.gif')%>');
      $('a#checkout_img').remove();
      $('#clear_cart').parents().filter('tr').remove();
      $('#shop_more_checkout').attr('id', 'add_items');
      $('.empty_cart_desc').show();
      $.empty_out_cart();
      $.update_cart_qty_display();

      var ajaxChangeQuantityInCartUrl = "<%=change_quantity_in_cart_orders_path%>";
      $.ajax({
        url: ajaxChangeQuantityInCartUrl,
        data: {},
        type: "POST",
        success: function(result) {
          if (result['status'] != 'success') {
            location.reload(true);
          }
        }
      });
    });
    $('select[id^=qty_]').each(function(index, value){
      //used for mapping when line items get deleted
      count.push(index);
      id=$(this).attr("id").match(/\d+$/);
      $.line_item_total(id);
    });
    $('#register_card_form').on('click', function(){
      $(':radio[name=funding_source]').prop('checked', false);
    });
    $(':radio[name=funding_source]').on('click', function(){
      $('#register_card_form').fadeOut();
      $('img[id=toggle_billing_profile_form]').attr('src', "<%= asset_path('add_new_billing_profile.png') %>");
      profile_form_hidden = true;
    });
    $('button[name=apply_discount]').on('click', function() {
      $.applyDiscount();
    });
    $.adjust_cart_total();
  });
});
</script>
