-content_for :title, 'Reprocess Payment'
=order_progress_indicator(2, @certificate_order.certificate) if @certificate_order
-current_order      = @reprocess_ucc ? current_order_reprocess_ucc : domains_adjustment_order
-funded_account_amt = @ssl_account.funded_account(true).amount
-remaining_amt      = current_order.amount - funded_account_amt
-funded_account_amt = remaining_amt.cents < 0 ? current_order.amount : funded_account_amt
-remaining_amt      = remaining_amt.cents < 0 ? Money.new(0) : remaining_amt
  
.reseller_registration_select_tier
  -desc_type = @renew_ucc ? 'Renew' : (@reprocess_ucc ? 'Reprocess' : 'Domains Adjustment:')
  %h3 #{desc_type} UCC Certificate Payment
  %p
    Please fill out the (*) required fields below
    -if current_order.amount.to_s.to_i > 0
      This charge will appear as #{Settings.merchant_name} on your credit card statement.
  =error_messages_for :user, :billing_profile, :credit_card, object_name: 'transaction'
  
  =form_for Order.new, url: ucc_domains_adjust_create_orders_path(@ssl_slug) do |f|
    =f.hidden_field :co_ref, value: params[:co_ref]
    =f.hidden_field :cc_ref, value: params[:cc_ref]
    =f.hidden_field :order_description, value: params[:order_description]
    =f.hidden_field :wildcard_count, value: params[:wildcard_count]
    =f.hidden_field :nonwildcard_count, value: params[:nonwildcard_count]
    =f.hidden_field :wildcard_amount, value: params[:wildcard_amount]
    =f.hidden_field :nonwildcard_amount, value: params[:nonwildcard_amount]

    -if @reprocess_ucc
      =f.hidden_field :reprocess_ucc, value: @reprocess_ucc
    -if @renew_ucc && !@reprocess_ucc
      =f.hidden_field :renew_ucc, value: @renew_ucc
    -if @ucc_csr_submit
      =f.hidden_field :ucc_csr_submit, value: @ucc_csr_submit

    -if current_user && current_order.cents > 0
      -# Funding Sources Section
      #stylized.deposit_funds_form
        -if @ssl_account
          =render partial: "billing_profiles", locals: {ssl_account: @ssl_account}
        
        -# Funding Sources: New Card
        #billing_section
          #register_card_form.hidden
            .subheading Payment Method
            -unless current_user
              .paypal.clearfix
                = label_tag 'Paypal'
                = radio_button_tag :payment_method, 'paypal', false
            .credit_card.clearfix
              = label_tag 'Credit Card'
              = radio_button_tag :payment_method, 'credit_card', true
            #credit_card_form
              =fields_for :billing_profile, @billing_profile do |form|
                = render partial: 'billing_profiles/form', locals: { form: form, only_billing_profile: false }
          
          -# Order Amount
          -amount = current_order.amount
          -data = {original_amount: amount, cc_ref: @certificate_content.ref, co_ref: @certificate_order.ref}
          .subheading Total Amount To Charge
          .clearfix
            %label{for: "order_amount"}
              Order Amount:
              %span.label_desc charged in $USD
            #reprocess_ucc_amount{data: data}
              ="#{amount.format.gsub(',', '')} USD"
            =f.hidden_field :order_amount, value: (amount || 0)
          
          -# Funded Account Credit
          -if funded_account_amt.cents > 0
            .clearfix
              %label{for: 'funded_amount'}
                Funded Account Balance:
                %span.label_desc credit applied towards order amount (maximum amount: #{funded_account_amt.format})
              =f.number_field :funded_amount, |
                value: funded_account_amt, |
                min: 0, |
                max: funded_account_amt, |
                step: :any, |
                required: true
            
            -# Remaining Amount
            .clearfix
              %label{for: 'charge_amount'}
                Total $:
                %span.label_desc
                  ="Remaining amount"
              =f.hidden_field :charge_amount, value: remaining_amt, data: {charge_initial: remaining_amt.to_s}
              %span.lbl-usd#lbl-charge-amount
                ="#{remaining_amt.format.gsub(/,/, '')}"
          
    #button_container
      =render partial: 'shared/prev_next_buttons'
    .waiting_bar.clearfix
      =image_tag('waiting_bar_medium.gif', id: 'waiting_bar', style: 'display: none; vertical-align: middle;')
=render partial: 'orders/index_scripts'
