%div(class='fields')
  -roles = f.object && f.object.roles.is_a?(Array)
  .saved-contact-fields.saved-contact-roles Roles
  .clearfix
    %label{for: 'administrative_role'} Administrative
    =f.check_box :administrative_role, checked: (roles && f.object.roles.include?('administrative')), id: 'chk-administrative-role'
  .clearfix
    %label{for: 'billing_role'} Billing
    =f.check_box :billing_role, checked: (roles && f.object.roles.include?('billing')), id: 'chk-billing-role'
  .clearfix
    %label{for: 'technical_role'} Technical
    =f.check_box :technical_role, checked: (roles && f.object.roles.include?('technical')), id: 'chk-technical-role'
  .clearfix
    %label{for: 'validation_role'} Validation
    =f.check_box :validation_role, checked: (roles && f.object.roles.include?('validation')), id: 'chk-validation-role'
  .saved-contact-fields Details
  -unless filter
    .clearfix
      %label{for: 'type'}
        Type:
      =f.select :type, [['Contact', 'CertificateContact'], ['Identity', 'Registrant']]
    .clearfix.hidden
      %label{for: 'registrant_type'}
        Identity Type:
      =f.select :registrant_type, Registrant::registrant_types
  .clearfix
    %label{for: 'first_name'}
      *First Name:
    =f.text_field :first_name
  .clearfix
    %label{for: 'last_name'}
      *Last Name:
    =f.text_field :last_name
  .clearfix
    %label{for: 'company_name'}
      Company Name:
    =f.text_field :company_name
  .clearfix
    %label{for: 'department'}
      Department:
    =f.text_field :department
  .clearfix
    %label{for: 'duns_number'}
      DUNS Number:
    =f.text_field :duns_number
  .clearfix
    %label{for: 'email'}
      *Email:
    =f.text_field :email
  .clearfix
    %label{for: 'phone'}
      *Phone:
    =f.text_field :phone
  .clearfix
    %label{for: 'ext'}
      Ext:
    =f.text_field :ext
  .clearfix
    %label{for: 'fax'}
      Fax:
    =f.text_field :fax
  .saved-contact-fields Address
  .clearfix
    %label{for: 'po_box'}
      PO Box:
    =f.text_field :po_box
  .clearfix
    %label{for: 'address1'}
      Address 1:
    =f.text_field :address1
  .clearfix
    %label{for: 'address2'}
      Address 2:
    =f.text_field :address2
  .clearfix
    %label{for: 'address3'}
      Address 3:
    =f.text_field :address3
  .clearfix
    %label{for: 'city'}
      City:
      %span.label_desc city, town, or locality
    =f.text_field :city
  .clearfix
    %label{for: 'state'}
      State:
      %span.label_desc state, province, or county
    =f.text_field :state
  .clearfix
    %label{for: 'postal_code'}
      Postal Code:
      %span.label_desc postal code or zip
    =f.text_field :postal_code
  .clearfix
    %label{for: 'country'}
      Country:
    -country = f.object.country if f.object
    =f.select :country, options_for_select(Country::PRIORITY+[""], disabled: [""], )+options_for_select(Country.select_options, required: true, selected: (country || 'US'))
  
  -if params[:epki_registrant] || @render_epki_registrant
    -domains = f.object.new_record? || f.object.domains.nil? ? '' : f.object.domains.join(' ')
    .saved-contact-fields Enterprise PKI Agreement
    .clearfix
      %label{for: 'epki_agreement_request'}
        *Service Agreement:
      =f.check_box :epki_agreement_request, checked: f.object.persisted?
      =link_to 'SSL.com Enterprise PKI Service Agreement', |
      enterprise_pki_service_agreement_path,               |
      target: :_blank, id: "chk-epki-service-agree"
      =f.hidden_field :epki_registrant, value: true
    .clearfix
      %label{for: 'EPKI Agreement'}
        *EPKI Domains:
      =f.text_area :domains, value: domains, cols: 40, rows: 5

  -unless new_contact == :new_contact
    .clearfix
      %label{for: 'default'}
        Default
      =f.check_box :saved_default
  -if new_contact == :new_contact
    .clearfix
      %label{for: 'save_for_later'}
        Save to Available Contacts:
      =f.check_box :save_for_later, checked: true