-content_for :title, "Create Contacts For #{@certificate_order.subject.downcase} (order ref##{@certificate_order.ref})"
-pos=@certificate_order.certificate.admin_submit_csr? ? 2 : (skip_payment? ? 3 : 4)
=order_progress_indicator(pos, @certificate_order.certificate) if @certificate_content.info_provided?
.reseller_registration_profile
  %h3
    Create #{@certificate_order.certificate.is_ov_client? ? "Certificate Recipients" : "Contacts"} For #{@certificate_order.subject.downcase}
    (order ref# #{link_to @certificate_order.ref, certificate_order_path(@ssl_slug, @certificate_order.ref)})
  %p
    #{@certificate_order.certificate.is_ov_client? ? "Enter who will be receiving their own personal certificate" : "Please provide point of contacts"}
    -if !@certificate_order.subject.blank?
      for #{@certificate_order.subject.downcase}.
    -partial = Contact.optional_contacts? ? 'optional' : 'required'
    -if Contact.optional_contacts?
      =link_to "+ Create Contact", '#', id: 'btn_create_new_contact'
    #opt_contacts_container
      =render partial: "/contacts/index_#{partial}"
=render partial: "/contacts/index_scripts#{partial=='optional' ? '_optional' : ''}"
