-content_for :title, "Validation for #{@domain.name}"
=render :partial => 'dcv_scripts'
%h2 Domain Validation
%h3
  Please select the appropriate address and then click the 'Validate' button.
  Only after you click 'Validate' you will get actual validation url and validate code. You can also
  =link_to "invite", new_managed_user_path({ssl_slug: @ssl_slug})
  another user to complete the validation step.
  =link_to "How do I use this page?", Settings.dv_explanation_link, target: "_blank"
=form_tag('', method: :post, class: :domain_validate_request) do
  %table#domains_validation
    %thead
      %th domain
      %th email addresses
      %th previous attempt
      %th attempted on
      %th status
    %tbody.domain_list
      %tr
        %td.center=@domain.name
        %td.center
          %select(name="dcv_address" id="dcv_address" )
            %option select email address
            -@addresses.each do |address|
              %option(value="#{address}" )=address
        %td.center n/a
        %td.center validation not performed yet
        %td.center waiting
      %tr
        %td
        %td.center
          Instructions:
          %span(style="background: yellow" id="dcv_instruction" )Please select email address
  #upload_validations(style='width: 100%; text-align: center')
    =submit_tag "Validate", :id=>"validate_domains", :disable_with=>"Submitting..."
    .clearfix
      =image_tag('waiting_bar_medium.gif', :id=>'waiting_bar', :style=>'display: none; vertical-align: middle;')
