.flex.items-start.justify-center
  .flex-1
    = render partial: "search"
  .flex-1  
  .flex.flex-col.justify-end
    = link_to resource_path.push(action: :new), class: "btn primary lg" do
      %i.fas.fa-plus-circle.text-lg.mr-2
      Create

.mt-8
  .flex.flex-col.justify-center.items-center.p-32.bg-white
    %i.fal.fa-fw.fa-file-search.text-gray-400.mb-6.text-4xl
    .font-bold.text-lg.uppercase.text-gray-600
      No Results Found
    .font-light.text-base.mt-4.text-gray-400
      We were unable to find any results. Please try creating a new object or adjusting your search parameters.