<script type="text/javascript">
  jQuery.noConflict();
  jQuery(function($) {
    $(document).ready(function() {
      $('#number_rows').change(function() {
        $('#per_page').val($(this).val());
        $('#hidden_form').submit();
      });

      $('.chk-delete').click(function() {
        if ($(this).prop('checked')) {
          $('#btn_update_resource').attr('disabled', false);
        } else {
          var chk_delete_list = $('.chk-delete');
          var exist_chk = false;

          $.each(chk_delete_list, function(idx, chk_delete) {
            if ($(chk_delete).prop('checked')) {
              exist_chk = true;
              return false;
            }
          });

          exist_chk ? $('#btn_update_resource').attr('disabled', false) : $('#btn_update_resource').attr('disabled', true);
        }
      });
      $("#generate_install_ssl_chk").change(function() {
        if ($(this).prop('checked')) {
          $("#custom_domain_modal_form").hide();
          $(".gen-install-ssl-divider").hide();
          $("#generate_type").val("auto");

          $('.modify-custom-domain').attr('disabled', false);
        } else {
          $("#custom_domain_modal_form").show();
          $(".gen-install-ssl-divider").show();
          $("#generate_type").val("manual");

          /*$('.modify-custom-domain').attr('disabled', true);*/
          $.check_manual_ssl();
        }
      });

      $.check_manual_ssl = function() {
        if ($('#certificate_value').val() == "" && $('#private_key').val() == "") {
          $('.modify-custom-domain').attr('disabled', true);
        } else {
          $('.modify-custom-domain').attr('disabled', false);
        }
      };

      $('#private_key').bind('cut copy', function (e) {
        e.preventDefault();
      });
      $('#private_key').on('contextmenu',function(e) {
        return false;
      });

      $('#certificate_value').bind('change paste', function() {
        $.check_manual_ssl();
      });
      $('#certificate_value').blur(function() {
        $.check_manual_ssl();
      });

      $('#private_key').bind('change paste', function() {
        $.check_manual_ssl();
      });
      $('#private_key').blur(function() {
        $.check_manual_ssl();
      });

      $('#purge_all_btn').click(function() {
        $('form #purge_all').val(true);
        $('#purge_form').submit();
      });

      $('.custom-domain-modal-link').click(function() {
        var hostname = $(this).data('hostname');
        var ref = $(this).data('ref');
        var resourcename = $(this).data('resourcename');
        var ajaxCheckCnameUrl = '<%=check_cname_cdns_path%>';

        $.ajax({
          url: ajaxCheckCnameUrl,
          data: {
            custom_domain: hostname,
            resource_name: resourcename
          },
          type: "GET",
          success: function(result) {
            if ($('#content').find('.inner').children().first().hasClass('flash_message')) {
              $('#content').find('.inner').children().first().remove();
            }

            if (result == true) {
              $('#host_name').val(hostname);
              $('#custom_domain_ref').val(ref);
              $('#custom-domain-modal').modal('toggle');
            } else {
              var message_wrap_element = $('<div></div>');
              message_wrap_element.attr('class', 'flash_message error');

              var message_element = $('<span></span>');
              message_element.html('CNAME for <strong>' + hostname + ' -> ' + resourcename + '.a.cdnify.io</strong> not detected, Autoinstall SSL requires this CNAME');
              message_wrap_element.append(message_element);

              var btn_element = $('<small></small>');
              var close_btn_element = $('<div></div>');
              close_btn_element.attr('class', 'close_flash_message');

              var close_sign_element = $('<span></span>');
              close_sign_element.append('X');

              close_btn_element.append(close_sign_element);
              close_btn_element.append('close');

              btn_element.append(close_btn_element);
              message_wrap_element.append(btn_element);

              message_wrap_element.insertBefore($('#content').find('.inner').children().first());
            }
          }
        });

        return false;
      });

      $('.custom-domain-delete-link').click(function() {
        var hostname = $(this).data('hostname');
        $('#host_name').val(hostname);
        $('.delete-custom-domain').trigger('click');
        return false;
      });

      $('.delete-custom-domain').click(function() {
        $('#action_type').val('delete');
        $('form#custom_domain_modal_form').submit();
      });

      $('.modify-custom-domain').click(function() {
        $('.modify-custom-domain').attr('disabled', true);
        $('.cancel-custom-domain').attr('disabled', true);
        $('.delete-custom-domain').attr('disabled', true);

        if ($("#generate_install_ssl_chk").prop('checked')) {
          $('#certificate_value').val('');
          $('#private_key').val('');
        }

        $('form#custom_domain_modal_form').submit();
      });

      $('.btn_purge_file').click(function() {
        var file_uri = $(this).data('file');
        $('#purge_files').val(file_uri);
        $('#purge_form').submit();
      });

      $('#btn_create_resource').click(function() {
        var api_key = $('form#create_resource #api_key').val();
        if (api_key) {
          var res_ori = $('form#create_resource #resource_origin').val();
          var res_name = $('form#create_resource #resource_name').val();

          if (res_ori == '' || res_name == '') {
            if ($('#content').find('.inner').children().first().hasClass('flash_message')) {
              $('#content').find('.inner').children().first().remove();
            }

            var message_wrap_element = $('<div></div>');
            message_wrap_element.attr('class', 'flash_message error');

            var message_element = $('<span></span>');
            if (res_ori == '') {
              message_element.append('<li>Resource Origin is required.</li>');
            }
            if (res_name == '') {
              message_element.append('<li>Resource Name is required.</li>');
            }
            message_wrap_element.append(message_element);

            var btn_element = $('<small></small>');
            var close_btn_element = $('<div></div>');
            close_btn_element.attr('class', 'close_flash_message');

            var close_sign_element = $('<span></span>');
            close_sign_element.append('X');

            close_btn_element.append(close_sign_element);
            close_btn_element.append('close');

            btn_element.append(close_btn_element);
            message_wrap_element.append(btn_element);

            message_wrap_element.insertBefore($('#content').find('.inner').children().first());

            return false;
          }
        } else {
          $('#tos-modal #agree_tos_chk').attr('checked', false);
          $('#tos-modal .agree-cdn-tos').prop('disabled', 'disabled');
          $('#tos-modal').modal('toggle');
          return false;
        }
      });

      $('#agree_tos_chk').click(function() {
        var is_agree = $(this).prop('checked');
        if (is_agree) {
          $('.agree-cdn-tos').prop('disabled', '');
        } else {
          $('.agree-cdn-tos').prop('disabled', 'disabled');
        }
      });

      $('.agree-cdn-tos').click(function() {
        $(this).attr('disabled', 'disabled');
        var ajaxActivateCDNUrl = '<%=register_account_cdns_path%>';
        $.ajax({
          url: ajaxActivateCDNUrl,
          type: "POST",
          success: function(data) {
            if (data['error']) {
              if ($('#content').find('.inner').children().first().hasClass('flash_message')) {
                $('#content').find('.inner').children().first().remove();
              }

              var message_wrap_element = $('<div></div>');
              message_wrap_element.attr('class', 'flash_message error');

              var message_element = $('<span></span>');
              message_element.append(data['error']);
              message_wrap_element.append(message_element);

              var btn_element = $('<small></small>');
              var close_btn_element = $('<div></div>');
              close_btn_element.attr('class', 'close_flash_message');

              var close_sign_element = $('<span></span>');
              close_sign_element.append('X');

              close_btn_element.append(close_sign_element);
              close_btn_element.append('close');

              btn_element.append(close_btn_element);
              message_wrap_element.append(btn_element);

              message_wrap_element.insertBefore($('#content').find('.inner').children().first());

              $('#tos-modal').modal('toggle');
            } else {
              $('#tos-modal').modal('toggle');
              $('form#create_resource #api_key').val(data['api_key']);
              $('#btn_create_resource').trigger('click');
            }
          }
        });
      });

    });
  });
</script>