-ec = (co.site_seal.preferred_seal_image?) ? link_to(image_tag(image_url(co.site_seal.preferred_seal_image, false)), site_report_site_seal_path(@ssl_slug, co.site_seal), popup_code(co)) : ""
-key_logo = render partial: '/site_seals/site_seal_code',:locals=>{:co=>co}
-css_key_logo = render partial: '/site_seals/css_site_seal_code',:locals=>{:co=>co}
%tr.expanded(class="#{'hidden' if current_page?(:site_seals)}")
  %td(colspan="6")
    .certificate_details
      =render :partial=>'/certificate_orders/menu', :locals=>{:co=>co}
      =render :partial=>'/certificate_orders/co', :object=>co
      %table(cellspacing="0")
        %tbody
          %tr
            %td(colspan="6")
              .certificate_details_box
                %ul
                  %li
                    %strong site seal settings
                    %li.small_section
                      -if permitted_to?(:admin_update, co.site_seal)
                        =form_for co.site_seal, :url=>admin_update_site_seal_path(co.site_seal), :html=>{:alt=>"#{i}", :class=>'edit_site_seal_status'} do |f|
                          =hidden_field_tag 'certificate_order', co.id
                          .admin_only(class="admin_approve_#{i}" style='color:red')
                            %em
                              admin only:
                            %ul
                              %li
                                #{f.radio_button :workflow_state, SiteSeal::FULLY_ACTIVATED}active
                              %li
                                #{f.radio_button :workflow_state, SiteSeal::DEACTIVATED}inactive
                              %li
                                #{f.radio_button :workflow_state, SiteSeal::CANCELED}suspend due to abuse
                            %ul
                              %li.email_customer
                                #{check_box_tag "email_customer", true, :alt=>"#{i}"}notify customer?
                              %li.approve_submit=submit_tag 'submit'
                      -else
                        =form_for co.site_seal, url: site_seal_path(@ssl_slug, co.site_seal), :html=>{:alt=>"#{i}", :class=>'edit_validation_ruling'} do |f|
                          =hidden_field_tag 'certificate_order', co.id
                          #{f.check_box :preferred_artifacts_status, {}, "activate", "deactivate"}enable Site Seal Artifacts?
                  -if co.site_seal.preferred_seal_image?
                    %li
                      %strong site seal image
                      %li.small_section=key_logo
                      -#%li.small_section=css_key_logo
                  %li
                    %strong site seal report
                    %li.small_section
                      =link_to 'preview site seal report', "javascript:void(0)", popup_code(co)
                      =#link_to 'preview company documents', artifacts_site_seal_url(co.site_seal), :popup=>['site_report',SiteSeal::REPORT_DIMENSIONS]
              -if permitted_to? :update, :csrs
                .certificate_details_box
                  %strong embeddable code
                  =text_area_tag :csr, key_logo, :size=>"30x10"
                  =#text_area_tag :csr, css_key_logo, :size=>"30x10"
              .certificate_details_box
                %strong instructions
                #site_seal_instructions
                  copy and paste the code on the left into
                  your webpage where you would like your SSL Secured Site
                  Seal to appear
                -#unless @cc.blank? || @cc.new? || @cc.csr_submitted? || @cc.info_provided? || co.expired?
                %strong validation documents
                #site_seal_documents
                  by activating the Site Seal Artifacts, documents uploaded
                  for validation purposes can be published as part of
                  the site seal report
                %ul
                  %li.small_section
                    -unless co.certificate_content.expired?
                      -u=link_to 'upload', new_certificate_order_validation_url(certificate_order_id: co.ref)
                    -unless co.validation.validation_histories.blank?
                      -m=link_to 'manage', edit_certificate_order_validation_url(certificate_order_id: co.ref)
                    -s=link_to 'status', certificate_order_validation_url(certificate_order_id: co.ref)
                    =link_cluster([u,m,s])
