<script type="text/javascript">
jQuery.noConflict();
jQuery(function($) {
  $(document).ready(function() {
    $('.dropdown, .validation_status_message, .expand, .subject_column > a').click(function(){
      if($(this).parents().filter('tr').next().css('display')!='none'){
        $(this).parents().filter('tr').next().css('display', 'none');
        $(this).parents().filter('tr').find('.dropdown img').attr('src',"<%= asset_path('expand.png') %>");
        $(this).parents().filter('tr').find('.expand').text('expand');
        this.expanded = false;
      }
      else{
        this.expanded = true;
        $(this).parents().filter('tr').find('.dropdown img').attr('src',"<%= asset_path('contract.png') %>");
        $(this).parents().filter('tr').next().show();
        $(this).parents().filter('tr').find('.expand').text('close');
      }
    });
    $('textarea').click(function(){
      $(this).select();
    });
    // prepare Options Object
    var options = {
        dataType: 'json',
        beforeSubmit: function(){
          return confirm(
          "This will adjust the active status of this site seal. Are you sure?");
        },
        success: function(data, status, $form) {
          alt=$form.attr('alt');
          approval=$form.find(':radio:checked').val();
          vrl_alt =$form.find(':radio:checked').attr('alt');
          message_span=$('.ss_message_'+alt.split("_")[0]);
          if(approval=='<%=SiteSeal::DEACTIVATED%>'){
            message_span.text("<%=SiteSeal::DEACTIVATED_STATUS%>");
            message_span.removeClass("<%=ValidationRuling::APPROVED_CLASS%>")
              .removeClass("<%=ValidationRuling::WAITING_CLASS%>")
              .addClass("<%=ValidationRuling::ATTENTION_CLASS%>");
          }
          else if(approval=='<%=SiteSeal::CANCELED%>'){
            message_span.text("<%=SiteSeal::CANCELED_STATUS%>");
            message_span
              .removeClass("<%=ValidationRuling::APPROVED_CLASS%>")
              .removeClass("<%=ValidationRuling::WAITING_CLASS%>")
              .addClass("<%=ValidationRuling::ATTENTION_CLASS%>");
          }
          else if(approval=='<%=SiteSeal::FULLY_ACTIVATED%>'){
            message_span.text("<%=SiteSeal::FULLY_ACTIVATED_STATUS%>");
            message_span
              .removeClass("<%=ValidationRuling::ATTENTION_CLASS%>")
              .removeClass("<%=ValidationRuling::WAITING_CLASS%>")
              .addClass("<%=ValidationRuling::APPROVED_CLASS%>");
          }
          alert('Activation status change successful!');
        }
    };
    $('form.edit_site_seal_status').ajaxForm(options);
    $('input:checkbox[name*=preferred_artifacts_status]').click(function(){
      $(this).parents().filter('form').ajaxSubmit();
    });
  });
});
</script>
