-co = @certificate_order
-cc = co.certificate_content
-v = co.validation
-title = "SSL Secured Site Seal For #{co.subject}"
-content_for :title, title
=render :partial => 'index_scripts'
#search_bar
  %input
  %input(type="button" value="search")
#validations
  %table(cellspacing="0")
    %caption
      =title
    %tr.heading_row
      %th.name(scope="col")Subject
      %th(scope="col") Certificate Status
      %th(scope="col" colspan="3") Site Seal Status
    %tr
      %td.name.not_expandable
        .subject_column.center_subject
          =render :partial=>'/certificate_orders/subject_column', :locals=>{:certificate_order=>co, :single=>true}
      -ss, ss_class=site_seal_status(@site_seal)
      -cs, cs_class=certificate_status(co, true)
      %td.validation_status_message(class="#{cs_class}")=cs
      %td.validation_status_message(class="#{ss_class}" colspan="3")=ss
    =render :partial=>"entry", :locals=>{:co=>co, :i=>1}
.site_seal_docs_container
  #stylized.default_form.clearfix
    =render partial: "/validations/manage_docs", locals: {co: co}
