<script type="text/javascript">
jQuery.noConflict();
jQuery(function($) {
  $(document).ready(function() {
    <%=render partial: 'billing_profiles/profile_scripts'%>
    $('#funded_account_amount').keyup(function () {
      amount = this.value
      $.update_balance_after_load();
    });
    $('#register_card_form').click(function(){
      $(':radio[id*=funded_account_funding_source]').removeAttr('checked');
    });
    $(':radio[id*=funded_account_funding_source]').click(function(){
      $('#register_card_form').fadeOut();
      $('img[id=toggle_billing_profile_form]').attr('src', "<%= asset_path('add_new_billing_profile.png') %>");
      profile_form_hidden = true;
    });
    $.update_balance_after_load();
    if ($('#funded_account_target_amount').length) {
      $.updateRequiredDeposit();
    }

    $('#funded_account_funding_source_paypal, #funded_account_target_amount').on('click change', function() {
      $.updateRequiredDeposit();
    });
    
    $('button[name=apply_discount]').on('click', function() {
      $.applyDiscount();
      setTimeout(function(){$.updateRequiredDeposit();}, 2000);
    });

    $('[name*=load_funds]').on('click', function(e) {
      // Check Discounted.
      if ($('#discount_amount').length > 0 &&
        $('#discount_amount').val().trim() != '') {

        var original_order_amount = parseFloat($('#tier_load_amount').data('original-amount'));
        var discounted_amount = parseFloat($('#discount_amount').val());
        var funded_account_amount = parseFloat($('#current_balance').data('funded-account'));

        // Check funded account is enough for discounted amount.
        if (!profile_form_hidden &&
          (funded_account_amount > (original_order_amount - discounted_amount)) &&
          (funded_account_amount < original_order_amount)) {

          // Make it to remove required field for CC information.
          $.profileRequiredToggle('disable');
        }
      }
    });
  });
});
</script>
