-reprocess_orders = @order ? @order.get_reprocess_orders : {}
-unless is_receipt?
  :javascript
    jQuery(function($) {
      $(document).ready(function() {
        $.empty_out_cart();
      });
    });
-title = test_label(@order)
-title += is_receipt? ? "Show Order Transaction" : "Order Was Successful"
-content_for :title, title
=render(:partial => 'shared/form_progress_indicator', :locals => {:pages=>[Reseller::SIGNUP_PAGES, 4]}) if @reseller_initial_deposit
-if @certificate_order
  -pos=skip_payment? ? 4 : 5
  =(order_progress_indicator(pos, @certificate_order.certificate)) unless is_receipt?
.order_container
  -if @deposit && !@deposit.receipt
    -recipients=current_user.ssl_account.receipt_recipients
    %p
      A deposit confirmation email has been sent to the following
      \#{pluralize(recipients.uniq.count, 'recipient')}:
      \#{recipients.uniq.join(", ")}.
  -if @order && !(@order.receipt || @order.deposit_mode)
    %p
      A confirmation email for your certificate order has been sent to the
      following #{pluralize(@certificate_order.confirmation_recipients.count, 'recipient')}:
      \#{@certificate_order.confirmation_recipients.join(", ")}.
    %p
      Also, the order receipt has been sent to the following
      \#{pluralize(@certificate_order.receipt_recipients.count, 'recipient')}:
      \#{@certificate_order.receipt_recipients.join(", ")}.
    %p
      Once processing is completed, your certificate order will be sent to:
      \#{@certificate_order.processed_recipients.map{|r|r.split(" ")}.flatten.uniq.join(", ")}.
  -if is_receipt?
    %h3=title
  =render partial: "orders/cancel_order"

  -if current_user.is_admin? && @certificate_order
    #completed_order_results
      =render partial: 'orders/order_status'

  -if @certificate_order
    %p
      -if permitted_to?(:update, @certificate_order)
        -if @certificate_order.is_unused_credit?
          \#{link_to 'Click here', edit_certificate_order_path(@ssl_slug, @certificate_order)} to finish processing this certificate order.
        -else
          \#{link_to 'Click here', certificate_order_url(id: @certificate_order.ref)} to view the progress or status of this certificate order.
      -else
        \#{link_to 'View Certificate Order', certificate_order_url(id: @certificate_order.ref)}
  #completed_order_results
    -if @deposit
      #deposit_details.striped_divs
        -desc   = @deposit.description
        -header = (desc =~ /Funded Account/) ? "#{desc} <br />#{@deposit.notes}" : 'SSL Account Deposit Details'
        %h3.order_results_header
          =header.html_safe
          =render partial: '/orders/order_transfer'
        #deposit_ref_num
          reference number:
          %span=h @deposit.reference_number
        #deposit_date
          date of deposit:
          %span=h @deposit.created_at
        #deposit_description
          description:
          %span=h @deposit.description
        -unless @order.billing_profile.blank?
          #deposit_method
            payment method:
            %span=(current_user.is_super_user? ? "#{@order.billing_profile.card_number} #{@order.billing_profile.expiration_month}/#{@order.billing_profile.expiration_year}" : "xxxx-xxxx-xxxx-#{h @order.billing_profile.last_digits}")+" (#{h @order.billing_profile.credit_card})"
          #credit_card_owner
            name on card:
            %span=h @order.billing_profile.full_name
        -else
          #credit_card_number
            payment method:
            -if @order.po_number
              %span purchase order #{@order.po_number}
            -elsif @order.quote_number
              %span quote #{@order.quote_number}
            -elsif @order.notes =~ /#paidviapaypal(\S+)?/
              %span paypal #{$1}
            -elsif @order.deducted_from.try(:reference_number)
              %span=link_to @order.deducted_from.reference_number, order_path(@order.deducted_from)
            -elsif current_user.ssl_account.is_registered_reseller?
              %span funded account
            -else
              %span=@order.state.humanize.downcase
        #credit_card_amount
          load amount:
          %span=h (@deposit.amount).format :with_currency
    -if @order && !@order.new_record? && (@order.cents > 0 or @order.is_free?) && !@order.is_deposit?
      =render partial: '/orders/order_report'
    -if @taggable
      =render partial: '/tags/order_tags'
    -unless is_receipt?
      #available_funds
        %h3.order_results_header Available Funds in SSL Account
        #available_funds_amount=h ssl_account.funded_account.amount.format :with_currency
.order_container
  =render partial: 'orders/invoice_section'

-if reprocess_orders.any?
  -reprocess_orders.each do |ro|
    .order_container
      #completed_order_results
        =render partial: 'orders/reprocess_ucc_report', |
        locals: {reprocess_orders: ro.last, co_ref: reprocess_orders.keys.first}

=render partial: "orders/adwords_conversion" #must appear before confirm_affiliate_sale since ext_affiliate_credited is toggled there
=confirm_affiliate_sale
