= javascript_include_tag '//stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'
= stylesheet_link_tag 'bootstrap_style', media: 'all'
= stylesheet_link_tag 'bootstrap_fix'

- @title = "Hardware Tokens"
- content_for :title, @title
= render partial: 'index_scripts'
= javascript_include_tag 'u2f-api'

.container
  .row
    .col-md-8.offset-md-2
      %h3
        Hardware Tokens
      #stylized.default_form
        .u2f_settings
          .settings_block
            .u2f_block.u2f_info
              - if @u2fs.size > 0
                - @u2fs.each do |u2f|
                  .u2f_device_info_block.clearfix{ id: "u2f_device_#{u2f.id}" }
                    .u2f_device_info#u2f_description
                      = u2f.nick_name
                      %span#u2f_description_hint
                    .hidden#u2f_edit
                      = text_field_tag :nick_name, u2f.nick_name, { id: "u2f_nick_name_#{u2f.id}" }
                      %button.btn.btn-success.fa.fa-check{ id: "submit_#{u2f.id}", 'data-url': u2f_path(u2f.id), 'data-id': u2f.id }
                    .u2f_device_info
                      %span - registered on
                      = u2f.created_at.strftime("%b %d, %Y")
                    .u2f_device_info.right
                      = button_tag 'Edit', type: 'button', class: 'edit_u2f_device', 'data-id': u2f.id
                      = button_tag 'Remove', :type=>'button', :class=>'remove_u2f_device', 'data-id'=>u2f.id

            = render partial: 'add_key'
