-content_for :header, 'public_wo_container'
.container
  .innercontainere
    .inner(style="margin-bottom: 30px")
      =render :partial => "shared/messages"
      %h1.section-title
        Earn Revenue by Partnering With
        %span
          %b SSL
          \.com
      %h2 What is the #{community_name} Reseller/Referral Link/Partner Program?
      %h3
        At #{community_name} we value our relationships with our customers and partners who work with their
        business associates and customers to promote #{community_name} certificates. As a result, we've
        launched the #{community_name} Partner Program to help our customers and partners earn extra discounts
        and commissions when selling bulk #{community_name} certificates. We currently offer two distinct
        programs that are tailored to our partners' requirements: The #{community_name} Referral Link Program
        for commission-based revenue sharing and the #{community_name} Reseller Program for system integrators,
        host providers and resellers.
      #banner-grid(style="margin: 0px auto; text-align: center; width: 80%;")
        .left.banner1.affiliate
          %h2 Referral Link
          %span Earn commission on sales
          .price-block
            .price 25%
            .price-desc max commission payout
            .clear
          .divider
          .description
            %ul
              %li
                %div Hassle-free
                client managed certs
              %li
                %div Recurring
                income beyond referral
              %li
                %div Commission
                rates up to 25%
              %li
                %div Free
                signup
          .divider
          %a{:href => "https://affiliates.ssl.com"}
            %span
              .btn-buynow.reseller Sign Up
          .help
            Want learn more?
            =link_to "Read the Frequently Asked Questions", details_affiliates_path
        .right.banner3.reseller
          %h2 Reseller
          %span Product integration
          .price-block
            .price 40%
            .price-desc max discounts on certs
            .clear
          .divider
          .description
            %ul
              %li
                %div Control
                certs on behalf of clients
                %span.icn-help
              %li
                %div Generous
                discounts up to 45%
                %span.icn-help
              %li
                %div Easy
                api for integration
              %li
                %div Recurring
                revenue on sales
          .divider
          %a{:href => "#{current_user ? new_reseller_url : new_account_url(:subdomain=>Reseller::SUBDOMAIN)}"}
            %span
              .btn-buynow.reseller Sign Up
          .help
            Want learn more?
            =link_to "Click here for details", details_resellers_path
      .clear
      #advertisement
        .catch-phrase(style="font-size: 14px")
          %div(style="text-align: left; margin: auto 15px")
            Commission structure for Referral Link Program. Discounting under the Reseller Program should refer
            to the
            =link_to "Reseller details page.", details_resellers_url(:subdomain=>Reseller::SUBDOMAIN)
          %table(style="margin: 0 auto; width: 50%")
            %tbody
              %tr
                %th Monthly Sales
                %th Commission/Discount
              %tr
                %td 1 to 4
                %td 10%
              %tr
                %td 5 to 25
                %td 15%
              %tr
                %td 26 to 99
                %td 20%
              %tr
                %td 100 to 149
                %td
                  %strong 25%
              %tr
                %td 150+
                %td
                  %strong Contact Us
          %div(style="text-align: left; margin: auto 15px")
            Organizations dealing with an extremely high volume of certificates, including ISPs, web hosting providers,
            large server administrators, and web developers should contact us by
            phone at SSL-CERTIFICATE (775-237-8434) or email at sales@ssl.com for additional information
            about discounting or
            pricing.
            %br
            %br
            Our goal is to establish a qualified network of Authorized
            = succeed ".com" do
              %i{:style => "font-weight:bold;"} SSL
            Partners globally.
            Territories are non-exclusive and world wide with a
            limited number of licenses available within most territories.
