Scan update for Notification Group: #{@notification_group.friendly_name || @notification_group.ref}
%br
%br
Scanned On: #{DateTime.current.in_time_zone}
%br
%br
Scan Status: #{@scan_status}
%br
Scanned URL: https://#{@domain}
%br
- unless @scanned_certificate.nil?
  SSL Certificate Expires: #{@scanned_certificate.not_after.to_date}
  %br
  SSL Certificate DN: #{@scanned_certificate.dn}
  %br
  SSL Certificate Serial: #{@scanned_certificate.serial}
  %br
  SSL Certificate Issuer DN: #{@scanned_certificate.issuer_dn}
%br
%br
To modify the SSL/TLS reminders or disable them, please visit #{edit_notification_group_url(@ssl_account.to_slug, @notification_group.id, host: Settings.actionmailer_host)}
%br
%br
Thank you for choosing SSL.com!
%br
%br
Kind Regards,
%br
%br
SSL.com
Toll Free: 877-SSL-Secure (877-775-7328)
Intl: SSL-Certificates (+1-775-237-8434)
