<%
title=program="#{community_name} Host Partner Reseller Details"
main_title="#{community_name} Solutions For Host Partners"
sub_title="Expand product offerings while boosting revenues"
main_image=image_tag("handshake.jpg", :title=>'partner up with #{community_name}',
  :alt=>"#{program}", :class=>'industry_reseller')

benefits = ["volume discounting means more savings for you and your customers",
"advanced ssl.com certificate management with reporting",
"patent pending #{link_to "smart seal, site report and document artifacts
management", details_site_seals_path}",
"fully tested and robust #{link_to "RESTful API", :controller=>'site',
:action=>'restful_api'} ready for seamless integration"]

summary="Take advantage of
 #{link_to "reseller pricing", reseller_tiers_url}
  while leveraging the most advanced
  online ssl certificate management system. Expedite issuance and
  installation of ssl certificates by overseeing the validation process.
  Seamlessly integrate ssl.com certificates into your product line
  by integrating with #{community_name}'s fully tested
  #{link_to "RESTful API", :controller=>'site', :action=>'restful_api'}."

descriptions=[
  "As a hosting provider,
  your customers demand fast response times while expecting the highest value.
  #{community_name} provides all of this and more to you and your customers. Don't let ssl
  certificate acquisition and installation be the bottleneck.",

  "Once you are approved as a #{program}, you
  gain full independence over the validation process to expedite the process
  flow so that your customers are up and running in no time. Since your
  organization handles the entire process, you're customers can focus on
  what matters to them without the need to get involved with the ssl
  certificate process.",

  "Maintaining and managing your customer's ssl.com certificates require an
  advanced online management tool. With #{community_name}'s ssl certificate
  management portal,
  you control who receives the certificates, receipts, and
  expiration reminders (or even when the reminders are sent).
  You also get advanced reporting and automated certificate processing in
  the event you need to have a certificate reissued or revoked.",

  "In addition to advanced ssl certificate management, you get administrative
  level control capabilities over your customer's
  #{link_to "#{community_name} Smart SeaLs, Site Reports, and Smart SeaL Artifacts",
  details_site_seals_path}. As a #{program},
  you get access to #{community_name}'s patent pending
  automated Business Authentication Engine which makes the validation process
  for you and your customers effortless.",

  "Becoming a #{program} is as easy as signing up and selecting
  a discounting tier to join. There are no commitments, quotas or contracts,
  and you have complete flexibility in selecting which
  #{link_to "ssl.com products", certificates_url} you want to offer. Brand
  your own ssl certificate products through #{community_name} landing pages or
  integrate ssl certificates into your product offering through #{community_name}'s
  RESTful api."]
%>
<%=render :partial=>"program", :locals=>{:title=>title, :main_title=>main_title,
  :sub_title=>sub_title, :benefits=>benefits, :descriptions=>descriptions,
  :main_image=>main_image, :summary=>summary
}%>
