-title="#{community_name} Privacy Policy"
-content_for :title, title
-content_for :header, 'public'
%h2=title
.default_container
  %h3 Legal Notices
  %em Last Revised Date, Nov 20, 2014
  %p
    As an information service provider and a specialist in Internet security, #{Settings.corp_name} ("SSL")
    is entrusted with many types of enterprise data. Protecting the security and confidentiality of
    that data is a responsibility that we take very seriously. No less important to us is the
    protection of your personal privacy. We hope that the following statement will help you to more
    fully understand how SSL collects, uses and safeguards the information you provide to us through
    this web site and the growing family of SSL Trust products and services.

  .info_listing
    %ul
      %li=link_to "Our 10 Privacy Principles", "#principles"
      %li=link_to "Web Site Privacy Policy", "#policy"
      %li=link_to "Frequently Asked Questions", "#faq"
      %li=link_to "Changes to the SSL Privacy Policies", "#changes"
      %li=link_to "More Questions? Contact Us", "#contact_us"
.default_container
  %h3
    %a.inherit_attr(name="principles") Our 10 Privacy Principles
  .info_listing
    %ul#privacy
      %li
        We collect only information that is essential to providing optimal service to customers and users. Acquired information is strictly limited to what we need to know in order to provide optimal service levels to our customers and to fulfill all legal or regulatory requirements.
      %li
        We inform users about what data is collected and how it will be used. Our customers are fully informed about the general uses we make of collected information and we will provide additional information upon request. We do not sell, lease or license confidential information to outside parties. We provide access to confidential information only to outside parties who are directly related to the delivery and service of our products and services. Information retrieval is fully disclosed to all authorized parties.
      %li
        Our customers choose how their self-disclosed data will be used. We allow SSL business customers to decide how they want the information they disclose to be used. Opting out of information disclosure is available at any time.
      %li
        We ensure information quality. We employ advanced technologies, well-defined practices, and a highly trained technical staff to ensure that self-disclosed data is processed properly, accurately and completely. We provide the mechanism for self-disclosed data to be corrected if errors or changes occur. We do not guarantee the accuracy of third party data we license to use in the SSL Secured™ identity seal, but we do facilitate the process of resolving any data discrepancies.
      %li
        We use information security safeguards. We use advanced information security technologies and a highly trained technical staff to protect all data assets entrusted to us. We have implemented well-defined data security and data access procedures to further ensure that data is protected from improper access, loss, misuse or destruction.
      %li
        We are responsive to requests for explanation about our data use and policies. Our Customer Service Representatives are trained to be responsive to queries about our policies, practices, products and services. Customer Service Representatives are also trained to facilitate the process of resolving any data discrepancies in third party data.
      %li
        We hold our employees responsible for our privacy principles. Each SSL employee is personally responsible for helping to maintain public confidence in the company. All SSL employees are provided with training in the protection of data privacy and security practices, which are also included in the SSL employee handbook.
      %li
        We provide these privacy principles to our business partners. We strongly encourage companies we select as our business partners to have privacy policies based upon accepted industry standards in the handling of self-disclosed data. These include companies that assist us in providing service to our customers or supply us with information about enterprises or individuals. During the business partner selection process, SSL scrutinizes the accuracy and quality of the data candidates, as well as their information handling practices. We do not guarantee the accuracy of third party data we license to use in the SSL Secured™ identity seal, but do facilitate the process of resolving any data discrepancies.
      %li
        We comply with all applicable privacy laws and regulations wherever SSL does business, based upon the prevailing jurisdictional requirements. As a company with a global reach, SSL is committed to remaining current with the requirements of all local, national and international laws and regulations applicable to our products and services.
      %li
        We undergo regularly scheduled audits of our privacy policies and practices to monitor our compliance with our stated policies.

.default_container
  %h3
    %a.inherit_attr(name="policy") Web Site Privacy Policy
  %p
    The following statement reflects the information gathering and dissemination practices for this web site #{community_domain}, as well as any software applications and information services related to this web site.

.default_container
  %h3
    Notice
  %p We gather only the information that is essential to providing good service to our customers, partners and web site visitors. We do not sell, lease or license confidential information to third parties except for those third parties who are directly related to the delivery and service of our products and services. Any sharing of information is fully disclosed and done with the permission of all necessary parties.

  %p We use your Internet protocol address to help diagnose problems with our server and to administer our web site. This site also collects the referring URL for tracking web traffic referred from other sites. Details of how we collect and use information related to individual web users and companies is described below.

  %p
    As you browse #{community_domain}, advertising cookies will be placed on your computer so that we can understand what you are interested in. Our display advertising partner, AdRoll, then enables us to present you with retargeting advertising on other sites based on your previous interaction with #{community_domain}. The techniques our partners employ do not collect personal information such as your name, email address, postal address, or telephone number. You can visit this page to opt out of AdRoll's and their partners' targeted advertising.

.default_container
  %h3
    Personal Information
  %p We do not associate personally identifiable information (PII), such as your name, address, or email address, with non-personally identifiable information (non-PII), such as Internet protocol addresses, to create personal user profiles. Although we do receive your email address along with your email, no other personal information is collected. We do not send unsolicited emails.

  %p On occasion we will collect personal contact information through our web site to allow people to register for SSL services. The purpose of collecting the information is to enable SSL to deliver the requested services and to contact the individual about the requested service if necessary.

  %p The personal contact information will be kept in an active SSL database until the conclusion of the service and will be used for future communications from SSL only with explicit permission from the individual provided at the conclusion of the service. It will not be sold, leased or combined with other data to create personal user profiles.

.default_container
  %h3
    Email Links
  %p We use email links located on the "Contact Us" page to allow you to contact us directly with questions or comments pertaining to SSL. We do not sell, lease or license this information to third parties. We read every message we receive and have a commitment to reply promptly. This information is used to respond directly to your questions or comments. We may file your comments for the purposes of evaluating how we can improve our site or services, or we may review and discard the information.

.default_container
  %h3
    Outbound Links
  %p This site contains links to other sites. We make an effort to encourage our partner sites to comply with the current best practices for the electronic collection of personal and confidential information. However, #{community_domain} is not responsible for the privacy practices or the content of these other sites or their associated companies and partners. SSL recommends that you review the privacy policy on other sites to ensure that you understand how they address issues related to the use of your personal information.

.default_container
  %h3
    Choice / Access
  %p We require user consent before collecting or using any personal information. Users may always decline to receive communications from us. Users may review, modify or remove from active use their information in our database, choose to no longer receive communications, or no longer receive our service at any time by contacting us.

.default_container
  %h3
    Security
  %p This site has security measures in place to protect the loss, misuse, and alteration of the information under our control. Employees are made aware of the security and privacy practices through new hire training, and periodic training for customer service, technical and other departments as needed.

.default_container
  %h3
    Changes
  %p Any changes to this policy will be reflected in the Change Section of this web site.

.default_container
  %h3
    %a.inherit_attr(name="faq") Frequently Asked Questions

  .info_listing
    %dl
      %dt Do you sell or give my information to non-SSL companies?
      %dd We do not sell, lease or license confidential information to outside parties. We only provide access to confidential information to outside parties directly related to the delivery and service of our products or services.

      %dt Does this site send follow-up email to visitors?
      %dd We do not send unsolicited email to our web site visitors. If you opt-in to receive follow-up information about our products and services, you may on occasion receive email about new product releases. However, you may choose at any time to have such notification stopped by contacting us.

      %dt Does SSL use information collected online to create profiles of users?
      %dd We do not associate personally identifiable information, such as your name, address, or email address, with non-personally identifiable information, such as Internet protocol addresses, to create personal user profiles.

      %dt How secure is the data collected by this site?
      %dd We use advanced information security technologies and a highly trained technical staff to protect all data assets entrusted to us. We have implemented well-defined data security and data access procedures to further ensure that data is protected from improper access, loss, misuse, or destruction.

      %dt Does this site allow third party ad servers to present ads on this site?
      %dd SSL does not allow third party ad servers to present ads or have access to its web site.

      %dt How long is any data I provide kept by SSL?
      %dd SSL keeps self-disclosed data active in its database for five years, unless an individual or enterprise requests for the data to no longer be used. However, for legal purposes SSL archives all data it collects or generates indefinitely.

.default_container
  %h3
    %a.inherit_attr(name="changes") Changes to SSL Privacy Policy
  %p SSL believes in proactively informing its customers and users of changes in its privacy policy and will make every effort to notify its customers in advance of changes that affect them. Notifications, for those customers who chose to receive it, will be in the form of email.

.default_container
  %h3
    %a.inherit_attr(name="contact_us") Contact Us If You Have Any Questions
  %p If you have any questions about the Privacy Policy, the practices of, or your dealings with this site, contact SSL at:

  .info_listing
    %ul
      %li
        email:
        info@ssl.com
      %li
        snail mail:
        %ul
          %li=Settings.corp_name
          %li Attn: Consumer Affairs
          %li=Settings.mail_address1
          %li=Settings.mail_address2
          %li=[Settings.mail_city, Settings.mail_state, Settings.mail_zip].join(", ")
      %li
        tel:
        =Settings.corp_phone_tag
      %li
        fax:
        =Settings.corp_fax
