-title="#{community_name} Terms of Use"
-content_for :title, title
-content_for :header, 'public'
%h2=title
.default_container
  %h3 Legal Notices
  %p
    Welcome to this website, which is owned and operated by SSL and/or SSL's subsidiary,
    affiliate or related company (throughout these Terms of Use "SSL" refers collectively to
    Secure Sockets Laboratories, LLC. and its subsidiaries, affiliates and related companies)
    (the "Site"). SSL maintains the Site as a service to its visitors, subject to the following
    terms and conditions concerning the use of the Site ("Terms of Use"). When you use the Site,
    you accept the Terms of Use; if you do not agree to the Terms of Use you may not use the Site.
    SSL reserves the right to modify content on the Site and these Terms of Use periodically
    without prior notice.
.default_container
  %h3 Use of Content on the Site
  %p
    You may view, download, and print contents from the Site subject to the following conditions:
    (a) the content may be used solely for information purposes; and (b) the content may not be
    modified or altered in any way. You may not republish, distribute, prepare derivative works,
    or otherwise use the content other than as explicitly permitted herein.
  %p
    You may not frame or utilize framing techniques to enclose any trademark, logo, or other
    proprietary information (including images, text, page layout, or form) of SSL without the
    express written consent of SSL. You may not use any meta tags or any other "hidden text"
    utilizing SSL's name or trademarks without the express written consent of SSL. You may not
    use any SSL logo or other proprietary graphic or trademark as part of the link without express
    written permission.
  %p
    You do not acquire any ownership rights to any content in the Site. Any unauthorized use
    terminates the permission or license granted by SSL.

.default_container
  %h3 Reviews, Comments, Communications, And Other Content
  %p
    You may submit comments and provide other content so long as the content is not obscene, illegal,
    threatening, or defamatory and so long as the content does not invade the privacy or infringe the
    intellectual property of a third party. Further, such content may not contain software viruses, mass
    mailings, chain letters, or any form of "spam." You may not use a false e-mail address, impersonate
    any person or entity, or otherwise mislead as to the origin of the information.

  %p
    By submitting information, you grant SSL a nonexclusive, royalty-free, perpetual, irrevocable, and
    fully sublicensable right to reproduce, use, modify, publish, adapt, translate, create derivative
    works from, distribute, and display such content throughout the world in any media. By submitting
    information you also represent and warrant that that the content is accurate; you own or have
    permission to use the content that you submit; and that use of the content will not cause injury to
    any person or entity.

.default_container
  %h3 Products and Services Offered By SSL on the Site
  %p
    SSL offers products and services on the Site. When you enroll to obtain a product or service from
    SSL on the Site, you accept the specific agreement applicable to that product or service. Your
    use of any such product or service offered on the Site is governed by the terms and conditions
    in the agreement for that product or service. Except as provided in that agreement, SSL does
    not warrant that any product descriptions or content contained in this website is accurate,
    current, reliable, complete, or error-free.
.default_container
  %h3 Copyright and Trademark Information
  %p
    Please #{link_to 'click here for copyright and trademark information', copyright_path}.
.default_container
  %h3 Third Party Web Sites and Information
  %p
    The Site may provide hyperlinks to third party websites or access to third party content. SSL does not control, endorse, or guarantee content found in such sites. You agree that SSL is not responsible for any content, associated links, resources, or services associated with a third party site. You further agree that SSL shall not be liable for any loss or damage of any sort associated with your use of third party content. Links and access to these sites are provided for your convenience only.

.default_container
  %h3 Disclaimer
  %p
    EXCEPT AS EXPRESSLY STATED IN AN AGREEMENT BETWEEN YOU AND SSL, ALL CONTENT, SERVICES, PRODUCTS AND SOFTWARE PROVIDED ON THIS WEB SITE ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED. SSL AND ITS SUPPLIERS AND LICENSORS DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED INCLUDING, WITHOUT LIMITATION, THOSE OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. YOU ARE SOLELY RESPONSIBLE FOR THE APPROPRIATENESS OF THE SITE, ITS CONTENT, AND THE PRODUCTS AND SERVICES OFFERED BY SSL ON THE SITE FOR YOUR INTENDED APPLICATION AND USE. SSL DOES NOT WARRANT THAT THE SITE, ITS CONTENT, OR THE PRODUCTS AND SERVICES IT OFFERS ON THE SITE MEET YOUR REQUIREMENTS. SUBJECT TO THE TERMS OF ANY AGREEMENT BETWEEN YOU AND SSL, SSL, ITS SUPPLIERS AND LICENSORS SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, CONSEQUENTIAL, INCIDENTAL, OR PUNITIVE DAMAGES, EVEN IF SSL, ITS SUPPLIERS OR LICENSORS HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS.

.default_container
  %h3 Indemnity
  %p
    You agree to defend, indemnify, and hold harmless SSL, employees, attorneys, and agents ("Indemnitees") against all claims, expenses, liabilities, losses, costs, and damages, including reasonable attorney's fees, that the Indemnitees may incur (i) in connection with your use of the Site or any hyperlinked web site or (ii) resulting from content you supply.

.default_container
  %h3 Applicable Laws
  %p
    All matters relating to your access to and use of the Site shall be governed by U.S. federal law or the laws of the States of where the specific website you are viewing is hosted without regard to its conflict of law principles. Any legal action or proceeding relating to your access to or use of the Site shall be instituted in a state or federal court in the jurisdiction in which the specific website you are viewing is hosted.

  %p
    If there is a determination that any provision of these Terms of Use is invalid or unenforceable, that determination will not affect the rest of the Terms of Use and the Terms of Use shall be deemed amended to the minimum extent necessary to make them valid and enforceable.

.default_container
  %h3 Contact Information
  %p
    If you have any questions regarding these Terms of Use, please contact SSL at legal@ssl.com.