#stylized.default_form.certificates-admin-edit
  .fields
    .certificate-fields.certificate-fields-top Main
    .clearfix
      = f.label :title
      = f.text_field :title, size: '50x1', required: true
      
    .clearfix
      = f.label :status
      = f.select :status, [['Live','live']], { include_blank: false }
    
    .clearfix
      = f.label :published_as
      = f.select :published_as, Certificate.all.pluck(:published_as).uniq.map {|p| [p.capitalize, p]}, |
        include_blank: false
    
    .clearfix
      = f.label :serial
      = f.text_field :serial, required: true
    
    .clearfix
      = f.label :product
      = f.text_field :product, required: true
    
    .clearfix
      = f.label :icons
      = f.select :icons, Certificate.pluck(:icons).uniq.map{|k| [k['main'], k['main']]}, |
        include_blank: false
    
    .clearfix
      = f.label :allow_wildcard_ucc
      = f.select :allow_wildcard_ucc, [['NO', false], ['YES', true]], include_blank: false
        
    .certificate-fields Reseller Tier
    .clearfix
      = f.label 'Reseller Tier'
      = f.select :reseller_tier_id, ResellerTier.all.map{|rt| ["#{rt.label} - #{rt.roles}", rt.id]}, |
        include_blank: true

    - if f.object.persisted?
      .certificate-fields.no-margin Product Variant Groups
      = render partial: '/certificates/form_for_admin_pvg', locals: {f: f}
    
      .clearfix
        .sub-heading
          = "<i class='fa fa-plus'></i> New Group".html_safe
        #pvg-open-form
          = link_to "<i class='fa fa-plus'></i> Add Group".html_safe, '#', id: 'lnk-pvg-open-form'

    - cas = f.object.cas
    .certificate-fields CA Certificate ( #{cas.count} )
    .clearfix
      #ca-certificates-select
        - ca_list = Ca.all.map { |ca| ["#{ca.ref}: #{ca.type} - #{ca.friendly_name}", ca.id] }
        = select_tag :ca_certificates, |
          options_for_select(ca_list, cas.pluck(:id)), include_blank: true, multiple: true

    .certificate-fields Display Order
    - displ_order_hash = { all: '', index: '' }
    - f_di_o = f.object.display_order
    - display = f_di_o.blank? || f_di_o.empty? ? displ_order_hash : f_di_o
    = f.hidden_field :display_order, value: display
    - display.each do |key, elem|
      .clearfix
        = label_tag "#{key.capitalize}"
        = number_field_tag "#{key}", elem, size: '70x1'
  
    .certificate-fields Description
    - descr_hash = { certificate_type: '', points: '', validation_level: '', summary: '', abbr: ''}
    - f_d = f.object.description
    - description = f_d.blank? || f_d.empty? ? descr_hash : f_d
    = f.hidden_field :description, value: description
    - description.each do |key, elem|
      - size = key == 'points' ? '50x5' : '50x1'
      .clearfix
        = label_tag "#{key.capitalize}"
        = text_area_tag "#{key}", elem, size: size

#button_container
  #auto_adjust
    = link_to "#{image_tag('cancel_bl.gif')}".html_safe, admin_index_certificates_path
    = image_submit_tag 'bl_submit_button.gif', id: 'btn-certificate-submit'

-content_for :js do
  :javascript
    $("#ca_certificates").select2();
    $(document).ready(function() {
      $("#ca_certificates").select2();
    });
