@import select2
@import sass/main
@import sass/master

.row
	&.title-content
		flex-wrap: nowrap

.reseller_registration_select_tier
  text-align: center
  width: 100%
  .subheading
    text-align: left

.cols-md-10
  &#dashboard
    width: 95%
    &table
      float: left

caption
  caption-side: top
#content
  table
    border-collapse: separate
  .developers-page
    text-align: left
    h3
      font-size: 2em !important
      margin-bottom: 15px
    .create-test-order
      margin: 0 auto
      max-width: 445px
      .btn-submit
        display: inherit
        font-size: 12px
        margin: 0 auto
        padding: 5px 10px
    #at_a_glance_header
      color: '#3c3c3c'
      margin-bottom: 10px
      tbody
        font-size: 12px
      td
        padding: 5px
        &:nth-child(2)
          min-width: 270px
        &:nth-child(3)
          text-align: center

#dashboard
  table
    width: 98%

.avatar
  border-radius: 40px
  height: 150px
  margin: 2px
  width: 150px

.xs-avatar
  border-radius: 40px
  height: 64px
  margin: 2px
  width: 64px

#preview
  margin: 20px

.col-md-3, .col-md-4, .col-md-5, .col-md-12
  ul
    li
      list-style: none
