<script type="text/javascript">
jQuery.noConflict();
jQuery(function($) {
  $(document).ready(function() {
    $('#ssl_account_ssl_slug').keyup(function(){
      var slug         = $(this).val().replace(/\#|\&|\+|\s/g, ''),
          render       = $('#slug_validator'),
          validate_url = render.data('validate-slug') + '?ssl_slug_name=' + slug;
      $.get(validate_url).always(function(data) {
        if (data.message || (!slug.length && $('#ssl_account_create_team').length)){
          render.text('VALID: ' + slug).css('color','#6b9029')
            .append(' &rarr; https://<%=portal_domain%>/team/' + slug);
          $('#slug_submit, #ssl_account_create_team').prop('disabled', false);
        } else {
          render.text('INVALID: ' + slug).css('color','#f00');
          $('#slug_submit, #ssl_account_create_team').prop('disabled', true);
        }
      });
      $(this).val(slug);
    });

    $('.edit_setting_btn').click(function() {
      if($('input[name*=processed_certificate_recipients]:checkbox').is(':checked'))
        $('input[name*=processed_certificate_recipients]:checkbox').val(
          $('#processed_email').val());
      if($('input[name*=reminder_notice_destinations]:checkbox').is(':checked'))
        $('input[name*=reminder_notice_destinations]:checkbox').val(
          $('#reminder_email').val());
      if($('input[name*=receipt_recipients]:checkbox').is(':checked'))
        $('input[name*=receipt_recipients]:checkbox').val(
          $('#receipt_email').val());
      if($('input[name*=confirmation_recipients]:checkbox').is(':checked'))
        $('input[name*=confirmation_recipients]:checkbox').val(
          $('#confirmation_email').val());
    });

    var ajax2faTypeUrl = '<%= set_2fa_type_ssl_account_path %>'
    $('input:radio[name=sec_type]').click(function(){
      var sec_type = $(this).val();
      var $this = $(this);
      if(sec_type == 'duo'){
        $('.duo_info :input').prop('disabled', false);
        $('#duo_login_enable').prop('disabled', false);
      } else {
        $('.duo_info :input').prop('disabled', true);
        $('#duo_login_enable').prop('disabled', true);
      }
      $.ajax({
        url: ajax2faTypeUrl,
        data: {
          sec_type: sec_type
        },
        type: 'PUT',
        success: function(result) {
          // Result is the ssl_account record
          if(result.sec_type==""){
            $('.duo_info :input').prop('disabled', true);
            $this.prop('checked', false);
            $('#duo_login_enable').prop('disabled', true);
          }
        }
      });
    });

    var ajaxDuoEnableUrl = '<%= duo_enable_ssl_account_path %>';
    $(document).on('change', '#duo_login_enable', function() {
      $('#duo_own_used').prop('disabled', !this.checked);
      $.ajax({
        url: ajaxDuoEnableUrl,
        data: {
          id: $(this).val(),
          duo_enable: this.checked
        },
        type: 'PUT',
        success: function(result) {

        }
      });
    });

    var ajaxDuoOwnUsedUrl = '<%= duo_own_used_ssl_account_path %>';
    $(document).on('change', '#duo_own_used', function() {
      $('.duo_info').css('display', this.checked ? 'block' : 'none');
      $('.duo_info :input').prop('disabled', !this.checked);
      $('#duo_akey').prop('disabled', true);
      $.ajax({
        url: ajaxDuoOwnUsedUrl,
        data: {
          id: $(this).val(),
          duo_own_used: this.checked
        },
        type: 'PUT',
        success: function(result) {
        }
      });
    });

    $(document).on('focus click', '#duo_skey', function() {
      var skey = $(this).attr('data-skey');
      $(this).val(skey);
    });

    $(document).on('change', '#duo_skey', function() {
      var skey = $(this).val();
      $(this).attr('data-skey', skey);
    });

    $(document).on('focus click', '.click_to_select_all', function() {
      $(this).select();
    });

    $(document).on('blur', '#duo_skey', function() {
      $(this).val('Click to view.');
    });

    $(document).on('click', '.btn_generate', function() {
      var akey = generate_akey();
      $('#duo_akey').val(akey);
    });

    var ajaxRegisterDuoUrl = '<%= register_duo_ssl_account_path %>';
    $(document).on('click', '.register_2fa', function() {
      var u2f_checked = $('#sec_type_u2f').prop('checked');
      var duo_checked = $('#sec_type_duo').prop('checked');
      if(u2f_checked){
      }
      else if(duo_checked) {
        var ikey = $('#duo_ikey').val();
        var skey = $('#duo_skey').attr('data-skey');
        var akey = $('#duo_akey').val();
        var hostname = $('#duo_hostname').val();
        $.ajax({
          url: ajaxRegisterDuoUrl,
          data: {
            duo_ikey: ikey,
            duo_skey: skey,
            duo_akey: akey,
            duo_hostname: hostname
          },
          type: 'POST',
          success: function(result) {
          }
        });
      }
      else {
        return;
      }
    });

    function generate_akey() {
      var text = "";
      var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

      for (var i = 0; i < 40; i++)
        text += possible.charAt(Math.floor(Math.random() * possible.length));

      return text;
    }
  });
});
</script>
