-title = "Show Validation for Certificate Order "
-content_for :title, title+@certificate_order.ref
=render :partial => 'index_scripts'
-@cert_order=co=@certificate_order
-cc=co.certificate_content
-cn=co.subject
-v=co.validation
#send_notify.hidden
  =form_tag nil, :id=>'send_notify_form', :method=>:post do
    =hidden_field_tag :certificate_order_ref
    =hidden_field_tag :notify_type
    - if current_user.is_standard? && current_user.ssl_account.epki_registrant && @certificate_order.ssl_account.epki_registrant
      =hidden_field_tag :is_epki_admin, true
      =hidden_field_tag :send_email_link
      =hidden_field_tag :copy_act_link
    - else
      =hidden_field_tag :is_epki_admin, false

#validations
  %table(cellspacing="0")
    %caption
      Validation for SSL Certificate #{link_to(cn.downcase, co)}
    %tr.heading_row
      %th.name(scope="col")Subject
      %th(scope="col" colspan="4") Validation Status
      %th(scope="col") Action
    %tr
      %td.name.not_expandable
        .subject_column.center_subject
          =render :partial=>'/certificate_orders/subject_column', :locals=>{:certificate_order=>co, :single=>true}
      -os, os_class=overall_status(v.validation_rulings)
      %td.validation_status_message.not_expandable(class="#{os_class}" colspan="4")=os
      %td=action(co)
    =render :partial=>"entry", :locals=>{:co=>co, :i=>1}

#epki_admin_modal.epki_admin_modal
  #epki_admin_modal_content.modal-content
    #epki_admin_modal_header.modal-header
      %span#epki_admin_modal_close.close
        &times;
      %p
        Please choose options
    #epki_admin_modal_body.modal-body
      .method_block.send_email_method.clearfix
        .block_chk
          = check_box_tag 'chk_send_email', true, true, :class => 'chk_method'
        .block_label
          %span.chk_send_label
      .method_block.copy_link_method.clearfix
        .block_chk
          = check_box_tag 'chk_copy_link', true, false, :class => 'chk_method'
        .block_label
          %span View activation link
      #required-field
        * It needs to choose one method at least!
    #epki_admin_modal_footer.modal-footer
      = button_tag 'OK', :type => 'button', :class => 'btn btn-grey btn-ok'

#epki_activation_link_modal.epki_activation_link_modal
  #epki_activation_link_modal_content.modal-content
    #epki_activation_link_modal_header.modal-header
      %span#epki_activation_link_modal_close.close
        &times;
      %p
        Activation Link
    #epki_activation_link_modal_body.modal-body
      .method_block.clearfix
        = text_field_tag :activation_link, '', :readonly => true
        %span.copy_activation_link{:title => 'Clipboard'}
          %i.fa.fa-clipboard
    #epki_activation_link_modal_footer.modal-footer
      = button_tag 'OK', :type => 'button', :class => 'btn btn-grey btn-activation-link-ok'
