-content_for :title, "Managed Certificates Management"

= render :partial => 'index_scripts'

#search_bar.hidden
  =form_tag search_managed_certificates_registered_agent_path(@ssl_slug, @registered_agent.id), :id=>'search_managed_certificate_form', :method=>:post do
    =hidden_field_tag :mc_per_page, @per_page

#registered_agent_managed_certificates
  =form_tag :remove_managed_certificates_registered_agent, :id => 'registered_agent_managed_certificate_list', :method => :post do
    %table(cellspacing="0")
      -if @managed_certificates.size > 0
        %tfoot
          %tr
            %td.wrap_number_rows
              =select_tag :mc_number_rows,
                      options_for_select([[5, 5], [10, 10], [20, 20], [50, 50], [100, 100]], @per_page),
                      :class=>'per_page'
            %td(colspan='7')=will_paginate @managed_certificates
      %caption
        Managed Certificates for ##{@registered_agent.ref} (#{link_to 'Go back to SSL Managers', registered_agents_path(ssl_slug: @ssl_slug)})
        =will_paginate @managed_certificates
      %tr.heading_row
        -if @managed_certificates.size > 0
          %td(scope="col")
          %td(scope="col") Common Name
          %td(scope="col") Alt Names
          %td(scope="col") Effective Date
          %td(scope="col") Expiration Date
          %td(scope="col") Status
          %td(scope="col") Delete?
        -else
          %td(scope="col" colspan="7") Agent
      -if @managed_certificates.size > 0
        -@managed_certificates.each do |mc|
          %tr
            %td.dropdown
              =image_tag 'expand.png'
            %td=mc.common_name
            %td=mc.subject_alternative_names.split(',').join(', ')
            %td=mc.effective_date.strftime("%b %d, %Y")
            %td=mc.expiration_date.strftime("%b %d, %Y")
            %td=mc.status
            %td
              =check_box_tag "remove_managed_certs[]", mc.id, false, class: 'chk-mc-remove', 'data-cert-name' => mc.common_name
          %tr.expanded.hidden
            %td(colspan="7")
              .extra_field_group.clearfix
                .extra_field_block
                  %ul
                    %li.label Serial
                    %li=mc.serial
                .extra_field_block
                  %ul
                    %li.label Issuer
                    -issuer_items(mc.issuer_dn).each do |item|
                      %li.clearfix
                        .item_key=item.split(':')[0] + ' : '
                        .item_value=item.split(':')[1]
      -else
        %tr
          %td(colspan="7")
            There are no Managed certificates belongs to registered SSL Manager.
    -if @managed_certificates.size > 0
      =submit_tag 'Save', :id => 'btn_remove_managed_certs', :disabled => true
