var profile_id = "",
    profile_form_hidden = <%=!initial_display?.empty?%>,
    initial_url = $('form#new_order').attr('action'),
    smime_client_enrollment_order = $('#smime_client_enrollment_order_order_amount').length;
$.last_delete_clicked=function(){
  if($('.delete_billing_profile').size() <= 1)
    $('.funding_sources_head, #existing_credit_cards').empty();
  $('#register_card_form').fadeIn();
};

function resetToStandardButton() {
  var charge_amount = $('#order_charge_amount');
  if ($('#order_funded_amount').length &&
    charge_amount.length &&
    (parseFloat(charge_amount.val()) == 0)
  ) {
    setStandardButton();
  }
}

function paypalDomAdjustmentType() {
  var str = '';
  if ($('#order_reprocess_ucc').length) {
    str = 'reprocess_ucc';
  } else if ($('#order_renew_ucc').length) {
    str = 'renew_ucc';
  } else {
    str = 'ucc_csr_submit';
  }
  return str;
}

function getOrderAmount() {
  var charge_amount = parseFloat($('#order_charge_amount').val());
  if ($('#funded_account_target_amount').length) {
    charge_amount = parseFloat($('#funded_account_target_amount').val());
  }
  if ($('#reprocess_ucc_amount').length) {
    if ($('#order_order_amount').length) {
      charge_amount = parseFloat($('#order_order_amount').val());
    } else {
      charge_amount = parseFloat($('#smime_client_enrollment_order_order_amount').val());
    }
  }
  if ($('#order_amount').length) {
    charge_amount = parseFloat($('#order_amount').val());
  }
  if ($('#funded_account_amount').length && !$('#funded_account_target_amount').length) {
    charge_amount = parseFloat($('#funded_account_amount').val());
  }
  return charge_amount;
}

function setPayPalButton() {
  if (getOrderAmount() > 0) {
    if ($('#new_user_section').length || $('#login_section').length) {
      $('#credit_card_form').hide();
      $('[name*=paypal]').hide();
      $('[name*=next]').show();
    } else {
      $('[name*=paypal]').show();
      $('[name*=next], [name*=load_funds], #credit_card_form').hide();
    }
    $.profileRequiredToggle('disable');
    $('form#new_order').attr('action', paypalCheckoutUrl());
  } else {
    setStandardButton();
  }
  resetToStandardButton();
}

function setStandardButton() {
  $.profileRequiredToggle('disable');
  $('[name*=next], [name*=load_funds], #credit_card_form').show();
  $('[name*=paypal]').hide();
  $('form#new_order').attr('action', initial_url);
}

function paypalCheckoutUrl() {
  var url = "<%= paypal_express_checkout_url(ssl_slug: params[:ssl_slug]) %>",
      discount = $('span#discount_applied'),
      reprocess_ucc = $('#reprocess_ucc_amount'),
      amount = $('#order_order_amount').val();

  
  if ($('.edit_funded_account').length) {
    url = "<%= paypal_express_checkout_url(ssl_slug: params[:ssl_slug], make_deposit: true, order_type: (@funded_account ? @funded_account.order_type : nil), deduct_order: (@funded_account ? @funded_account.deduct_order : nil)) %>";
    url += '&amount=' + (parseFloat($('#funded_account_amount').val()) * 100);
  }

  if (discount.length && discount.data('discount') && discount.data('discount_code')) {
    url +='?discount='+discount.data('discount')+'&discount_code='+discount.data('discount_code');
  }
  
  if (smime_client_enrollment_order) {
    amount = $('#smime_client_enrollment_order_order_amount').val();
  }

  if (reprocess_ucc.length) {
    url +='?amount=' + amount 
        + '&deduct_order=true' + '&order_type=order';
    if (reprocess_ucc.data('monthly-invoice')) {
      url += '&monthly_invoice=true'
        + '&invoice_ref=' + reprocess_ucc.data('monthly-ref');
    } else if (smime_client_enrollment_order){
      url += '&emails=' + $('#smime_client_enrollment_order_emails').val()
        + '&smime_client_order=true'
        + '&certificate=' + $('#smime_client_enrollment_order_certificate').val();
    } else {
      url += '&' + paypalDomAdjustmentType() + '=true'
        + '&co_ref=' + reprocess_ucc.data('co-ref')
        + '&cc_ref=' + reprocess_ucc.data('cc-ref')
        + '&wildcard_amount=' + $('#order_wildcard_amount').val()
        + '&nonwildcard_amount=' + $('#order_nonwildcard_amount').val()
        + '&order_description=' + $('#order_order_description').val()
        + '&nonwildcard_count=' + $('#order_nonwildcard_count').val()
        + '&wildcard_count=' + $('#order_wildcard_count').val();
    }
    
    if (typeof $('#order_charge_amount').val() !== "undefined") {
      url += '&funded_target=' + $('#order_charge_amount').val();
    }
    if (typeof $('#order_funded_amount').val() !== "undefined") {
      url += '&funded_account=' + $('#order_funded_amount').val();
    }
  }
  $('[name*=paypal]').attr('href', url);
  return url;
}

function reprocessUccAmounts() {
  if ($('#reprocess_ucc_amount').length) {
    var funded_max = parseFloat($('#order_funded_amount').attr('max')),
        funded     = parseFloat($('#order_funded_amount').val()),
        amount     = parseFloat($('#order_order_amount').val()),
        total      = parseFloat($('#order_charge_amount').data('charge-initial'));
    if (smime_client_enrollment_order) {
      amount = parseFloat($('#smime_client_enrollment_order_order_amount').val());
    }
    if (funded > funded_max) {
      funded = funded_max;
      $('#order_funded_amount').val(funded.toFixed(2));
    }
    if (funded >= amount) {
      funded = amount;
      $('#order_funded_amount').val(funded.toFixed(2));
      $('#order_charge_amount').val(0.0);
      $('#lbl-charge-amount').text('$0.00 USD');
      setStandardButton();
    } else {
      total = amount - funded;
      if( $('#funding_source_paypal').is(':checked') ) {
        setPayPalButton();
      } else {
        setStandardButton();
      }
      $('#order_charge_amount').val(total.toFixed(2));
      $('#lbl-charge-amount').text('$' + total.toFixed(2) + ' USD');
    }
  }
}
  
$('#payment_method_paypal, #funding_source_paypal').on('click', function(){
  if($('#payment_method_paypal, #funding_source_paypal').is(':checked')){
    reprocessUccAmounts();
    setPayPalButton();
  }
});

$('#expand_register_card').on('click', function(){
  if(profile_form_hidden){
    $.profileRequiredToggle('enable');
    $('#register_card_form').fadeIn();
    $(this).add('img[id=toggle_billing_profile_form]').attr('src', "<%= asset_path('hide_billing_profile_form.png') %>");
    profile_id = $(':radio[name*=funding_source]:checked').attr("id");
    $(':radio[name*=funding_source]').prop("checked", false);
    profile_form_hidden = false;
    $('form#new_order').attr("action", initial_url);
  } else {
    $('#register_card_form').fadeOut();
    $.profileRequiredToggle('disable');
    $(this).add('img[id=toggle_billing_profile_form]').attr('src', "<%= asset_path('add_new_billing_profile.png') %>");
    if (profile_id && profile_id.length > 0) {
      $(":radio[id*="+profile_id+"]").prop("checked", true);
    }
    profile_form_hidden = true;
  }
  if($("#funding_source_paypal, #funded_account_funding_source_paypal").is(":checked")){
    reprocessUccAmounts();
    setPayPalButton();
  }
  else{
    setStandardButton();
  }
  if($("#payment_method_paypal").is(":checked")){
    $('#credit_card_form').hide();
    setPayPalButton();
  }
  else{
    $('#credit_card_form').show();
    if (!$('#reprocess_ucc_amount')) {
      setStandardButton();
    }
  }
});
$('.delete_profile').livequery(
  'ajax:beforeSend', function(){
    $(this).parent().parent().children('td').addClass('deleting');
    $(this).parent().html('<%= image_tag "ajax-loader.gif" %>');
    $(this).parent().html("");
    $(this).bind('ajax:complete', function(event, data, status, xhr){
      $('tr#billing_profile_'+$(this).attr('href').match(/\d+$/)[0]).remove();
      if($('#existing_credit_cards tr').length < 3){
        //old
        //$('tr:#existing_credit_cards_header').remove();
        $('#existing_credit_cards').remove();
        $('h3.funding_sources_head').remove();
        $('#register_card_form').fadeIn();
      }
      if(data.status==500){
        alert("Error: problems occurred and profile was not successfully deleted.");
      }
    }).bind('ajax:failure', function(event, data, status, xhr){
      alert("Error: problems occurred and profile was not successfully deleted.");
    });
});
if(profile_form_hidden == false){
  $(':radio[name*=funding_source]').removeAttr("checked");
  $(this).add('img[id=toggle_billing_profile_form]').attr('src', "<%= asset_path('hide_billing_profile_form.png') %>");
}
$(':radio[name*=funding_source]').change(function(){
  if($("#funding_source_paypal, #funded_account_funding_source_paypal").is(":checked")) {
    reprocessUccAmounts();
    setPayPalButton();
  }
  else{
    setStandardButton();
  }
});
$(':radio[name*=payment_method]').change(function(){
  if($("#payment_method_paypal").is(":checked")){
    $('#credit_card_form').hide();
    setPayPalButton();
  }
  else{
    $('#credit_card_form').show();
    setStandardButton();
  }
});

$('#order_funded_amount, #funded_account_amount').on('click change', function() {
  reprocessUccAmounts();
  paypalCheckoutUrl();
});
