%table{:align=>"center"}
  %tbody
    %tr
      %td{:colspan=>"2"} Security Code
    %tr
      %td{:colspan=>"2"}
        The card security code
        is a unique three or four-digit number printed on your
        debit/credit card. The number is not embossed on the card so
        that it cannot be printed on receipts - making it difficult
        for anyone other than the genuine cardholder to know it.
    %tr
      %td{:colspan=>"2"} &nbsp;
    %tr
      %td= image_tag 'card.gif'
      %td
        Some cards, many UK-issued
        cards for example, have a three-digit number printed at the
        top of the signature strip on the reverse of the card.
    %tr
      %td= image_tag 'amex.gif'
      %td
        Others, American Express
        cards for example, have a four-digit number printed on the
        front of the card, above the account number.
    %tr
      %td{:colspan=>"2"} &nbsp;
    %tr
      %td{:colspan=>"2"} Billing Address
    %tr
      %td{:colspan=>"2"}
        This should be the address
        to which your card statement is sent. It must match the
        address held by your card issuer exactly. If it does not,
        the retailer may decline your purchase, or defer acceptance
        of your payment and seek further proof of your address.