-reseller ||= false
%span(class="#{reseller ? 'reseller' : ''} logo")
  =link_to "", root_url
#sales_number_in_header
  =image_tag 'trust_in.png', title: 'trust in everything we do', alt: 'trust in everything we do'
  =Settings.header_phone_numbers

