-show_teams = current_user.get_all_approved_accounts.length > SslAccount::SHOW_TEAMS_THRESHOLD
#header
  .inner
    %table#at_a_glance_header
      %tbody
        %tr
          -if show_teams
            %th{colspan: 2} CURRENT TEAM
          -unless is_sandbox?
            -if current_user.is_validations? || permitted_to?(:update, :certificate_orders)
              %th.validations=link_to "INCOMPLETE", incomplete_certificate_orders_path
              %th.certificate_status=link_to "PROCESSING", filter_by_scope_certificate_orders_path(@ssl_slug, "pending")
            -if current_user.ssl_account.has_credits?
              %th.certificate_status=link_to "CREDITS", credits_certificate_orders_path
            -if permitted_to? :create, :orders
              %th.certificate_status=link_to "CART ITEMS", show_cart_orders_url
            %th
          %th.certificate_status=link_to 'Logout', logout_url
        %tr#info
          -if show_teams
            =render partial: 'shared/ssl_accounts'
            %td
          -unless is_sandbox?
            -if current_user.is_validations? || permitted_to?(:update, :certificate_orders)
              %td.validations=link_to current_user.ssl_account.cached_certificate_orders_incomplete_count, incomplete_certificate_orders_path
              %td.certificate_status=link_to current_user.ssl_account.cached_certificate_orders_pending_count, filter_by_scope_certificate_orders_path(@ssl_slug, "pending")
            -if current_user.ssl_account.has_credits?
              %td.certificate_status=link_to current_user.ssl_account.cached_certificate_orders_credits_count, credits_certificate_orders_path
            %td.certificate_status#cart_items_qty=link_to cart_items_count, show_cart_orders_url
            %td{colspan: 1}
    %span.logo.reseller=link_to "", resellers_root_url(:subdomain=>Reseller::SUBDOMAIN)
#content
  .containerp
    =render :partial=>"layouts/standard_menu"
    .inner
      =render :partial => "shared/messages"
      =yield
