!!!
%html
  %head
    %favicon_link_tag
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}
    %meta{name:"ROBOTS", content:"NOINDEX, NOFOLLOW"}
    %title= h(yield(:title) || "SSL and Digital Certificates, Enterprise SSL, and Internet Security") + " | #{community_name}"
    -if @meta
      -@meta.each do |key|
        %meta{:name=>key[0], :content=>key[1]}
    %meta{ :name => "keywords", :content => "SSL Certificates, EV SSL, Wildcard Certificates, Enterprise SSL" }
    %meta{ :name => "description", :content => "#{community_name} is an SSL Provider offering digital certificates including EV, Wildcard, code signing and enterprise ssl. Integrate security into your website and applications with SSL certificates from #{community_name}." }
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %meta{ :content => "IE=EmulateIE7", "http-equiv" => "X-UA-Compatible" }
    = stylesheet_link_tag "site_report"
    = javascript_include_tag "shared"
    :javascript
      jQuery(function($){
        $("a[rel^='prettyPhoto']").prettyPhoto({social_tools: false, allowresize:false, theme:'pp_default', showTitle:false});
      });
  %body
    =yield
